[2020-03-26 12:49] JohnRoesler opened #6 "Split out tests to match files where code lives"

[2020-03-27 04:23] JohnRoesler opened #10 "Implement an interface for time"
[code]

[2020-03-27 19:56] arjunmahishi commented on #10
Do we also want `NewTicker` to be a part of this interface?

[2020-03-28 00:00] JohnRoesler commented on #10
For sure, i was just providing an example of how I think it should look. Probably more funcs we'd need to add 👍

[2020-03-28 18:34] Streppel commented on #10
merged #12!

[2020-03-28 18:34] #10 closed

[2020-03-28 19:38] #6 closed

[2020-03-29 03:31] JohnRoesler opened #13 "v1 release goals"
- [ ] Enhance all time related tests
- [x] Fix bug where fast running jobs are executed twice, or jobs are executed at the wrong time
- [ ] Examples and documentation cleaned up
- [ ] ...

[2020-03-29 03:32] JohnRoesler opened #14 "Investigate better options for parsing time in Scheduler At func"
There should be a better way than taking in a string and parsing time

[2020-03-29 04:13] JohnRoesler opened #16 "Move all readme examples into godoc example files"
our readme should link to our godocs and from there users can view examples.

our godoc: https://pkg.go.dev/github.com/go-co-op/gocron?tab=doc

examples of examples: https://github.com/go-co-op/gocron/pull/15

render locally https://godoc.org/golang.org/x/tools/cmd/godoc

[2020-03-29 04:15] JohnRoesler opened #17 "Add a CONTRIBUTING.md"
https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors

[2020-03-29 04:21] JohnRoesler opened #18 "Add issue and pull request templates"
### Issues

- [ ] Feature request template: What/Why/etc.
- [ ] Bug report
- [ ] A something else template

### Pull Request

Should have: (my ideas for sections)

- What does this do?
- Which issue(s) does this relate to or fix?
- Do these changes modify/break current functionality? If yes, how?
- Have you included tests?
- Have you included examples for new/changed functionality?

[2020-03-30 00:28] Streppel opened #19 "Tests are deterministic"
[copy/paste from here](https://github.com/jasonlvhit/gocron/issues/88)

Current implementation depends too much on using time manipulation and because of that some tests take a long time to run (testTaskAt is one example, as it depends on the system changing minute, even though I believe we could fix this by testing it differently. Another example is the recent locking implementation).

This also

[2020-03-30 00:29] Streppel commented on #19
We already have our interface working so now we only need to update the tests

[2020-04-01 04:16] JohnRoesler opened #20 "Bug in scheduler"
[code]
[code]

[2020-04-03 18:26] JohnRoesler commented on #20
@brett0701 unsure at this point. Just tried it with 10s and this job. I am currently running some jobs in production that are on a 5 min cadence and haven't noticed any substantial drift. However, on a window that size, it's possible that a second here and there is just not noticed.

[2020-04-05 06:38] avasani commented on #20
@brett0701 : I am seeing the same with 5mins. Two callback are fired backtoback.

[2020-04-05 13:16] brett0701 commented on #20
Yep. I've been running hourly schedules and it happens then as well.
All related to the issue:
https://github.com/jasonlvhit/gocron/issues/142

[2020-04-09 06:07] cybervagabond opened #22 "Feature request: Store job/schedule data"
Thanks for awesome library that really helps :)

Maybe it will be good idea.
In some cases people neen to run task only once.
Yes i can run task and then remove.

And also. What will happend if there are 30 tasks in scheduler and app crashed. After restart we will lose all tasks.

If it will be good idea, can try to do this

[2020-04-09 14:33] JohnRoesler commented on #22
The run once has been asked about before. It is something we could certainly add support for - but have not prioritized it.

Regarding storing tasks - yes it's an idea worth exploring. If we were going to do it, I'd like to have done in an abstract enough way that we're not forcing users to a specific data store but allow them to implement an interface e.g. that they could then put any data store

[2020-04-10 14:07] Streppel commented on #22
Hi @cybervagabond, thanks for your contribution.

Storing tasks seems like an idea worth exploring indeed. Is there any real use case for this? I can't think of anything right now... What would you store, the function being executed itself? It'd only make sense if the function body in question were to be declared on the fly using code injection.

[2020-04-10 14:23] cybervagabond commented on #22
@Streppel

Basic use cases is mircoservices that integrates with this awesome library.
My use case is a microservice for making scheduling publications.
Users create jobs via rest api.
`curl -X POST /api/publications/schedule`
For example: At 11 April 08:00 am need to publish text from user in blog.

But critical situation:
What will happen if service will go down. And after restart jobs array wil

[2020-04-10 19:42] Streppel commented on #22
Hm, I see... Maybe we could work on something aiming for a plugin-like approach to executing code before or after something happens to the scheduler, going beyond databases. We'll try to expand this idea. Any contributions are more than welcome in the meantime

[2020-04-10 19:44] #20 closed

[2020-04-10 20:08] JohnRoesler commented on #20
@brett0701 @avasani when you are able, please test out the latest release https://github.com/go-co-op/gocron/releases/tag/v0.1.1 with the fix for this bug!

[2020-04-10 20:10] JohnRoesler opened #24 "Feature request: Run a job once"
From @cybervagabond

Maybe it will be good idea.
In some cases people neen to run task only once.
Yes i can run task and then remove.

[2020-04-10 20:10] JohnRoesler commented on #22
@cybervagabond I am splitting these issues up - opened one here for run once. If you would like to work on that code - we'd welcome the contribution! https://github.com/go-co-op/gocron/issues/24

[2020-04-10 21:04] Streppel commented on #24
This can be easily achieved with [AfterFunc](https://golang.org/pkg/time/#AfterFunc), no need to import a third party package. I believe this is out of scope as it is unrelated to a cron execution model.

[2020-04-10 21:13] avasani commented on #20
Thanks @brett0701 and @JohnRoesler, I verified with the last hash, not seeing the issue anymore.
Thanks for the quick fix. Really loved the library!!

[2020-04-11 00:42] avasani commented on #20
Opening again :-( I see after sometime, callbacks are invoked back to back.
[code]

[2020-04-11 00:47] Streppel commented on #20
@avasani everything alright? I got an email but I can't see your comment here

[2020-04-11 02:33] JohnRoesler commented on #20
@Streppel sounds like it's all good. Let us know if you find any other bugs! Glad you like the library. Issues/PRs are always welcome 😄

[2020-04-11 02:37] avasani commented on #20
@Streppel : Ignore my email, it was a false positive. For one run, I tested with old hash which has the issue. On master it is fine.

[2020-04-11 19:57] JohnRoesler commented on #18
https://github.com/go-co-op/.github/tree/master/.github

[2020-04-11 19:57] #18 closed

[2020-04-14 00:10] brett0701 opened #27 "[BUG] - Weird behavior with scheduler"
### Describe the bug

I set the scheduler to run a task every 5 minutes and output the time. It worked fine for a 3 or 4 hours and then appeared to skip intervals.  Below is the output of time for each interval (not all times are shown below only a snippet).  You will see that after 18:43:05 it skipped  intervals and ran again at 19:05:55 and then skipped more 5 minute intervals until 19:42:38 and

[2020-04-15 13:24] JohnRoesler commented on #27
Based on the syntax, it looks like you're running the latest commit, just want to confirm that first.

I ran your task and had it write the time it ran to a file - and you can see in this output that it ran every 5 min as expected for 10 hours.

<details><summary>job.log</summary>
<p>

[code]

</p>
</details>

[2020-04-15 14:41] brett0701 commented on #27
Yep, I'm running the latest commit.  For what it is worth, I'm running this on a Mac (macOS Mojave). I'm going to run in my Linux environment and see if I get the same behavior and report back.

[2020-04-16 01:55] JohnRoesler commented on #27
My test was also run on Mac Mojave, interesting

[2020-04-16 14:52] JohnRoesler commented on #27
Started another run last night - it's been going solid over 12 hours, every 5 minutes

[2020-04-16 15:00] brett0701 commented on #27
Okay.  I ran on a Linux box and it ran fine for 14 hours.  I'm guessing something within my local environment is wreaking havoc.  I'll go ahead and close this issue.

[2020-04-16 15:00] #27 closed

[2020-04-17 09:52] yisany opened #28 "[FEATURE] - support Cron expression"
Maybe you can do something to support cron expression.
such as:
cron.Every("0/40 * * * * ? ").Do(task)

[2020-04-17 15:49] Streppel commented on #28
Hey yisany, thanks for reaching out. This could be implemented indeed... will make a few adjustments to see how it currently fits in our api, but I think we'd use a whole new methods set for this to keep things simple

[2020-04-17 15:55] Streppel opened #29 "[BUG] weekdays only work for weekly basis schedules"
### Describe the bug

```gocron.Every(2).Thursday().At("08:00").Do(taskHandler)``` does not work because we do not consider the interval on our weekday API.

### Expected behavior

```gocron.Every(2).Thursday().At("08:00").Do(taskHandler)```  should execute every 2 thursdays as soon as the scheduler begins to run

### Additional context

Do we run at the first given thursday, then skip two? Or beg

[2020-04-21 00:27] excxapp commented on #28
I think  this package can help parse cron expression
[https://github.com/robfig/cron](https://github.com/robfig/cron)

[2020-04-21 00:39] excxapp commented on #24
This means delay job, I think we need cron and delay job(run one time). like timewheel,this package only have period job,I think have delay job(one time).

[2020-04-22 02:27] excxapp opened #31 "How remove job?"
### Is your feature request related to a problem? Please describe

If we send job by api, how delete old job? delete by *task object is not work,

### Describe the solution you'd like

I think we can add Id or tag ,for add job repeat,and can delete by tag/id

### Describe alternatives you've considered

We can set job tag/id,and this can use this can find job,and handler job by this

### Additiona

[2020-04-22 02:32] #31 closed

[2020-04-26 05:16] auzty commented on #31
yes, i know that not only me thinking for deleting specific jobs.
so i edit to this file on my local, and just put a few function to delete by tag and working (i just don't know how to proper pull request to this repository)
if you mind, you can edit this following code

**scheduler.go**

[code]

example :

[code]

and it will be remove first job found that contain "mytag"

_notes :_  make sure yo

[2020-04-28 18:48] camccar opened #34 "[BUG] - s1.StartAsync() from example doesn't work in latest release"
### Describe the bug

Tried using the example in the readme on a project with go modules. It automatically assigns the latest release tag of `v0.1.1` in `v0.1.1` the method `StartAsync` does not exist.

### To Reproduce

Steps to reproduce the behavior:

1. go to a project that uses go modules
1. add the example from the readme
1. Try to compile project. You will get the error `s1.StartAsync undef

[2020-04-29 02:31] auzty commented on #34
@camccar
it's happened to me a few days ago when starting using this module.
the root cause are the version on go module v0.1.1 not implement **StartAsync** yet.
you can use the latest branch when using go module
**go get "github.com/go-co-op/gocron@master"**
you will get the master branch.

my **go.mod** files
[code]

hope it helps, i already using the master branch using the **StartAsync**, so f

[2020-04-29 02:44] JohnRoesler commented on #34
Good call out. We have not yet released the code with that function.

[2020-05-03 21:43] tuxslayer opened #35 "[BUG] - s.startAt(..) doesn't work, since s.Do() rewrites job.nextRun field"
### Describe the bug
s.startAt(..) doesn't work, since s.Do() rewrites job.nextRun field

### To Reproduce

`scheduler.Every(3).Second().StartAt(time.Now().Add(11 * time.Second)).Do(s.bookkeeping)`

`scheduler.StartAsync()`

Starts job in 3 seconds after start.

### Version
github.com/go-co-op/gocron v0.1.2-0.20200429025551-8c7e3da6cc03

### Expected behavior
Start in 11 seconds, then run every 3.

[2020-05-03 21:48] tuxslayer commented on #35
Workaround :)

`scheduler.Every(3).Second().StartImmediately().StartAt(time.Now().Add(11 * time.Second)).Do(s.bookkeeping)`

[2020-05-11 09:21] huangp0600 opened #36 "release-v0.1.1 doesn't have StartBlocking"
when I use the release version of V0.1.1 to do some cronjob test, I found that it doesn't have the function `StartBlocking`. I have to use `<- xxx.Start()` as an instead.
Is it be added in recent days? or what's the plan to add it to a new release version?

[2020-05-12 19:29] Streppel commented on #36
@huangp0600 we will address this today

[2020-05-12 20:08] Streppel commented on #36
fixed :) https://github.com/go-co-op/gocron/releases/tag/v0.2

[2020-05-12 20:08] #36 closed

[2020-05-12 20:08] Streppel commented on #34
fixed :) https://github.com/go-co-op/gocron/releases/tag/v0.2

[2020-05-12 20:08] #34 closed

[2020-05-12 20:58] camccar commented on #34
Thank you!

[2020-05-21 10:24] ferllings opened #37 "[QUESTION] - Best way to update events jobs"
Hello,

Each morning I need to adjust the time for my jobs.

What is the best way to update jobs:

1) Simply clear and re-add the job, even if the scheduler is already started?
[code]
2) or recreate the scheduler (is there a clean way to stop and remove scheduler?)
[code]
3) Another way?

Thanks

[2020-05-21 16:50] Streppel commented on #37
Thanks for opening the issue, I didn't know about the need for this use case. There's no need to create another scheduler, your first example should work just fine. Also keep in mind that once your scheduler has already started there's no need to start it again.

I'll be in fact reviewing our Tags system next week because I think it'd work nicely with your use case. Whenever there's anyting new do

[2020-05-21 16:50] #37 closed

[2020-05-21 16:54] Streppel opened #38 "[BUG] - StartAsync creates infinite schedulers"
### Describe the bug

Calling `StartAsync` repeatedly causes a mem leak due to the neverstopping ticker and causes many concorrent runs on RunPending.

[2020-05-22 07:16] ferllings commented on #37
Thanks for answering.
This module works great!

[2020-05-24 06:21] urpent opened #40 "[BUG] - Unable to get v0.2 version using go mod"
### Describe the bug

Unable to get v0.2 version using go mod. The latest version I was able to get is (v0.1.1). Was it due to naming convention of the version?

1. Terminal show an error when using v0.2  -> no matching versions for query "v0.2"

2. Terminal show an error when using v0.2.0  -> unknown revision v0.2.0

[2020-05-25 01:20] #38 closed

[2020-05-25 01:29] Streppel commented on #40
@urpent thank you for pointing it out. I've fixed the tag semver, tested it locally and it worked correctly. Could you test it again?

[2020-05-25 02:13] urpent commented on #40
It works correctly now. Thanks!

[2020-05-25 02:13] #40 closed

[2020-05-31 23:50] brunovu20 commented on #24
I have the same usecase and I do use AfterFunc of time, for example:

[code]

Hope that helps

[2020-06-01 13:24] Streppel commented on #24
Thanks for the feedback. We'll be adding this to our v1 release as this has been being requested by lots of people :cool:

[2020-06-03 17:58] 110 opened #41 "[FEATURE] - Error chan on scheduler"
https://github.com/jasonlvhit/gocron/issues/134

This feature was discussed before.
hop add this  feature .

[2020-06-04 13:56] JohnRoesler commented on #41
This would be a grand addition. Something you're interested in contributing on?

[2020-06-06 17:00] ankurnigam opened #42 "Run goroutine in background with no dependency from main"
Can this module be used for the case where we want to run the goroutine in background without any dependency on main.

It means main block will complete but that block will keep running till it completes all it's task.

[2020-06-08 02:23] JohnRoesler commented on #42
I don’t believe you can accomplish this in golang. When mason is terminated, all other goroutines triggered will be terminated. See this forum for more detail https://groups.google.com/forum/m/#!topic/golang-nuts/jHhXrbb1jC8

[2020-06-08 02:23] #42 closed

[2020-06-15 05:58] iambudi opened #43 "[FEATURE] - Monthly Schedule"
I could not find a way to schedule cron job every month on specific day (Jan 5, Feb 5, March 5 so on).

`gocron.Every(1).Month().On(5).At("hh:mm")`

Is that already possible now or should be requested as a new feature?

Thanks

[2020-06-15 06:01] iambudi commented on #43
I'm thinking doing workaround by running on Every(1).Day and check manually if the day is 5 and do the task.

[2020-06-15 17:25] JohnRoesler commented on #43
Correct, `Month` isn't a feature today. I think it would be a good feature to add 👍  I think `Months` as well would be added for every other month ability.

[2020-06-18 22:22] Depado opened #44 "[FEATURE] - Add a way to use a custom time.Duration"
Hello :wave:
I'd like to use a custom `time.Duration`. From what I can see in the code of this lib, the user is forced to set a unit, otherwise this error is returned:

[code]

Simply removing that default case would allow users to do something like that (since `time.Duration`'s underlying type is an `int64`):

[code]

Another solution would be to add a noop unit that doesn't multiply the value of

[2020-06-28 16:29] davleb commented on #29
I just had a look at the python schedule package. It is not yet implemented.
There is a discussion about that matter at stackoverflow:
https://stackoverflow.com/questions/56824553/python-run-job-every-first-monday-of-month
python package suggests a syntax like `schedule.every(3).mondays.do(test)`, so **mondays** should be used instead of **monday** but I consider `schedule.every(3).monday.do(test)

[2020-06-29 17:49] Streppel commented on #29
@davleb thank you for your input. You are absolutely right as for regards the periodDuration and interval being ignored. I will progress on this over this weekend or the next one as I work on our scheduler v2 and address these issues!

[2020-07-10 14:07] ofonimefrancis commented on #41
I would love to work on this @JohnRoesler, what logger would you recommend?

[2020-07-11 10:23] ridwanakf opened #45 "[BUG] - removeByCondition get "slice bounds out of range""
### Describe the bug

Loop in `removeByCondition` (scheduler.go) will keep iterating by the original value because the range loop copies the values from the slice to a local variable n; updating n will not affect the slice. It will result in panic because `slice bounds out of range` when the index of iteration goes beyond the current length of `s.jobs`

### To Reproduce

Steps to reproduce the beh

[2020-07-11 10:26] ridwanakf commented on #45
Can I make PR to fix this bug?

[2020-07-14 13:03] #45 closed

[2020-07-16 15:24] JohnRoesler commented on #41
Exactly - we'd want an interface that the user would them implement with their specific chosen logger! Let us know if you want to discuss or if you need any assistance! We're on slack - there is a link in the readme

[2020-07-18 11:50] arjunmahishi commented on #43
Working on this. Should we just consider a `Month` as 30 days?

[2020-07-18 19:33] arjunmahishi commented on #14
A better way to parse time would be to use the time layout `15:04:05` and/or `15:04` with `time.Parse()` and then
[code]
We could use regex to check the format and pick the correct template.

[2020-07-19 04:33] #43 closed

[2020-07-19 05:13] arjunmahishi commented on #41
@ofonimefrancis you can use an interface like this:
[code]
(Partly taken from logrus)

You can remove some of the methods like `Panic`, `Print` to keep it simple.

[2020-07-22 06:59] arjunmahishi commented on #14
I guess we can close this now.

[2020-07-22 06:59] #14 closed

[2020-07-23 06:39] arjunmahishi commented on #41
I am planning to work on this. Will mostly create a PR sometime today. @ofonimefrancis, let me know if you have already started working on it

[2020-07-23 06:51] arjunmahishi commented on #41
@JohnRoesler @Streppel Can we list down the things we want to log with their log-levels?

Here are some things I can think of:
[code]

[2020-07-23 06:59] arjunmahishi commented on #41
I've created a simple custom logging framework and pushed it to the branch [feature/custom-logger](https://github.com/go-co-op/gocron/tree/feature/custom-logger). Let me know what you guys think.

[2020-07-23 17:41] Streppel commented on #41
@arjunmahishi Cool! Will take a look at it this weekend (been in a hurry this week)

[2020-07-24 12:59] ldegaetano opened #50 "[BUG] - Lock service is not working"
Hi every one, i was checking that the feature for preventing run a task twice using lock service is not working at all. In the function   `func (s *Scheduler) run(job *Job) error`  at line 180, when call to `locker.Lock(key)`  the response is ignored, so if `lock()`  return false the job can be executed.

[code]

Is there a scenario I am not seeing or is it a bug?

Thanks you very  much.

[2020-07-24 15:04] maxsuelmarinho commented on #50
It started to ignore the return of the `locker.Lock(key)` in this [pull request #151](https://github.com/jasonlvhit/gocron/pull/151/files#diff-0ab145ca0ab7d0d679361c0f6263a49aR63).
As we can see the @Streppel's comment:
"will change our locker signature in the future to remove errors just like Sync.Locker", which is this one:
https://golang.org/pkg/sync/#Locker

`type Locker interface {
    Lock()

[2020-07-24 15:09] Streppel commented on #50
Indeed, this is critical. @arjunmahishi do you think you can take a look at this? I'm still reviewing the log PR and fixing some stuff on our scheduler V2

[2020-07-24 19:20] #35 closed

[2020-08-10 13:07] pandurang90 opened #52 "[BUG] - Runs task twice"
Hi everyone, I am trying to integrate `gocron` in my service. But when I tried to run task it is running it twice.

[code]
[code]

Is there something that I am missing or is it a bug?

Thanks you very much.

[2020-08-11 14:59] dustin-decker opened #53 "[FEATURE] - Maximum concurrent jobs"
### Is your feature request related to a problem? Please describe

When running resource intensive jobs, it may be desirable to limit how many are executed at once.

### Describe the solution you'd like

I would like to be able to configure maximum running jobs.

### Describe alternatives you've considered

I can probably do a hacky implementation of this with the Locker feature.

[2020-08-11 15:24] dustin-decker commented on #44
The current behavior was not intuitive to me. I passed `uint64(time.Duration)` and ran into this error.

I ended up doing this (job.Interval is a `time.Duration`):
```Every(uint64(job.Interval.Seconds())).Seconds().```

[2020-08-12 07:55] pandurang90 commented on #52
@Streppel could you help me here?

[2020-08-12 12:19] Streppel commented on #52
Absolutely, thanks for bringing it out. Will take a look ASAP!

[2020-08-12 18:30] Streppel commented on #53
This is interesting. How should we approach the situation where the time to run a job has come but the threshold doesn't allow it to run? We could evolve this thought to something like a queue-delivery system for workers allowing up to N concurrent jobs.

[2020-08-12 19:17] dustin-decker commented on #53
I think setting the maximum concurrency value would have to imply a best-effort attempt at job scheduling. If the limit is hit, jobs would have to wait on a channel for the next available worker.

[2020-08-18 15:42] Streppel commented on #52
@pandurang90 just to keep you updated I did some investigations but had to take a field trip this week but I'm back at it now

[2020-08-20 04:27] 0x18katyan commented on #52
Getting the same issue.

[2020-09-03 05:54] flowchartsman opened #55 "[BUG] - Panic on malformed time is inscrutable."
### Describe the bug

The library panics if a time is malformed. Specifically in this case if the user forgets a preceeding zero, which I feel is probably a relatively easy mistake to make. I beat my head against the wall for an hour or so on this one before intuition lead me to try putting a zero in front of it.

### To Reproduce
Minimal pathological example based on docs.

[code]

Running this r

[2020-09-03 13:58] JohnRoesler commented on #55
Looks like it comes down to bad examples by us not showing error checking when creating the schedule. It's erroring when the `At()` func is called and so the job is nil which is causing the panic.

If you do this, it will fatal out with an error:

[code]

We should probably have `At` just take a time rather than parsing a string to time, let the user do that and handle the error and our func would

[2020-09-04 23:48] adriendomoison commented on #52
@Streppel Any release date? :) Just want to know if I need to switch to another method temporarily or if the fix will be released this week. Thanks!

[2020-09-04 23:59] Streppel commented on #52
@adriendomoison by next week for sure! This week I was pretty busy myself but now we're just finishing up with some month issues that were happening as well, and we'd be good to go.

[2020-09-08 12:07] #55 closed

[2020-09-08 14:02] Streppel commented on #52
We merged a PR that addressed this. Everything looks good from my tests; If you guys could give it a try and report back the result here, that would be greatly appreciated. If needed, we can reopen this.

[2020-09-09 10:40] arjunmahishi commented on #41
Made some changes to the initial code and made a PR. Not actually logging anything. This is just a framework as mentioned before. Take a look when you guys get time.

[2020-09-10 10:37] Chenghu-w opened #58 "scheduleNextRun when the job create after schedule started"
job run immediately when I remove the job and create job again after schedule started。

expect:
scheduleNextRun when the job create after schedule started
or
add new funcion 'UpdateInterval'

testing:

[code]

[2020-09-14 22:24] alipiry opened #59 "Run a job at a specific time with milliseconds"
Currently we can just run a job at a specific time in HH:MM:SS format, I wanted to know is it possible to run a job at specific time in HH:MM:SS.MS format?
e.g : `scheculer.Every(1).Day().At("2:49:51.01").Do(task)`

[2020-09-15 02:15] Streppel commented on #44
Geez, I'm so sorry, I failed to see this issue before. Indeed, this makes a lot of sense! I believe it could be a great change before we reach v1. @JohnRoesler @arjunmahishi keeping you updated on this one. What do you guys think?

[2020-09-15 02:17] Streppel commented on #41
@arjunmahishi putting it on blocked while we discuss

[2020-09-15 02:19] Streppel commented on #59
Hi @alipiry. Currently we do not support this; our lowest denominator is seconds. Mind if I ask you if this is a real usecase or just a question out of curiosity? If a real usecase, would you mind to describe it a little further?

[2020-09-15 11:07] alipiry commented on #59
Hello @Streppel, thank you for quick response, yeah it is a real use case, I'm working this project that does 10 concurrent POST requests per second and so I need to send these requests at the very least time.
Here it is my main func:
[code]
I want to run my task at "8:29:51:01"

[2020-09-15 11:11] Streppel commented on #59
I see. If you need this level of granularity I'd suggest using a [timer](https://golang.org/pkg/time/#Timer) directly.

[2020-09-15 11:57] alipiry commented on #59
Oh alright, thanks a lot!

[2020-09-15 11:58] #59 closed

[2020-09-15 13:21] graywolf336 opened #60 "[BUG] - All Jobs Start Immediately"
### Describe the bug
I have three jobs which I want to run at a specific time of day and a specific day of the month. None of them have `StartImmediately()` so I would not expect them to run whenever they get scheduled.

### To Reproduce

Steps to reproduce the behavior:

1. `scheduler.Every(1).Day().At("00:30").Do()`
1. Expect the job to not run
1. See the logs of the job running

### Version
`v0

[2020-09-15 15:17] arjunmahishi commented on #60
Hey @graywolf336,
I am not able to reproduce this with the steps you have mentioned. Is it possible for you to paste the exact snippet of code here?

This is working fine for me:
[code]
Output:
[code]

The same works for `Day()`, `Week()` and `Month()` also

[2020-09-15 15:19] arjunmahishi commented on #60
Hey @graywolf336,
I am not able to reproduce this with the steps you have mentioned. Is it possible for you to paste the exact snippet of code here?

This is working fine for me:
[code]
Output:
[code]

The same works for `Day()`, `Week()` and `Month()` also

[2020-09-15 15:31] graywolf336 commented on #60
Ah, I am starting the scheduler and then adding the jobs to it after the start was done.

[code]

Output:
[code]

[2020-09-19 04:20] Streppel commented on #60
Oh, right. We are having some problems with jobs being added to the scheduler after it starts but I'll take a look at it over this weekend if possible

[2020-09-19 14:00] graywolf336 commented on #60
@Streppel yeah, that's precisely the case. Thanks for keeping this package maintained! 😊

[2020-09-22 00:22] Streppel commented on #60
@graywolf336 I believe this has been fixed now.

[2020-09-22 00:22] #60 closed

[2020-09-22 00:23] #58 closed

[2020-09-22 00:23] Streppel commented on #58
@Chenghu-w thanks for reporting! this has been fixed now :) please report back here if you see anything usual

[2020-10-03 02:40] #16 closed

[2020-10-04 05:14] arjunmahishi commented on #24
@Streppel @JohnRoesler
Instead of restricting this to run "once", we could make it a little more flexible. What if we had something like this:
[code]

[2020-10-05 18:08] #24 closed

[2020-10-25 22:10] arigon opened #69 "[BUG] - switch from daylight saving time to standard time causes problem"
### Describe the bug
I am running a job on 00:01 every day. Today was the switch from daylight saving time to standard time in Europe. The job did run one hour too early at 23:01.
Update: And I just realized the job was executed twice.

### To Reproduce

`_, err := s.Every(1).Day().At("00:01").Do(reports.RunDailyReport)`

### Version

0.3.1

### Expected behavior

It should not run at 23:01. It sh

[2020-10-26 00:00] Streppel commented on #69
Thanks for the report @arigon. Will take a look at it.

[2020-10-26 01:03] JohnRoesler commented on #69
What time zone are you using? I'm wondering if it's set to UTC and was the same but then got off by an hour when your time changed?

[2020-10-26 01:36] arigon commented on #69
I am using Europe/Berlin which is my time zone, otherwise it wouldn't start at 00:01 as expected. By the way, it hasn't started at 00:01 now either. I am now wondering if it will work Tuesday at 00:01.

[2020-10-26 10:52] GeitV opened #70 "[FEATURE] - Time format allow wildcards"
First of all - awesome project, just what I needed in my life :smiley:

It seems like there's error on time format for when defining on which minute cronjob should start at
eg:
`scheduler.Every(1).Hour().At(":00").Lock().Do(MySuperCoolMethodToDeleteOldStuff)`
or
`scheduler.Every(1).Hour().At("**:30").Lock().Do(MySuperCoolMethodToDeleteOldStuff)`

When checking https://github.com/dbader/schedule th

[2020-10-26 15:47] KnBrBz opened #71 "Is Every(1).Day().At working properly?"
Wrote a simple code

[code]

Expecting that if porgram started at 17:38, at 17:40 and 17;41 the message will appear. But nothing happens. What I am doing wrong?

[2020-10-26 16:11] JohnRoesler commented on #71
Hi @KnBrBz, I tried your code snippet (updating to an appropriate UTC time to make it run soon) and it ran as expected for me. Could you give it another go - perhaps your times weren't lined up properly?

[2020-10-26 18:09] KnBrBz commented on #71
It was timezone issue - substracting 2 hours fixed the problem. Thanks for help.

[2020-10-26 18:09] #71 closed

[2020-10-26 22:03] arigon commented on #69
Okay.. The job did just run, at 23:01.. How can I switch it back to 00:01?

[2020-10-26 22:08] Streppel commented on #69
This is unfortunate, I'm sorry. I believe I've already found what's up and will make a commit soon. Meanwhile, can you try to restart your worker application? I know this is not ideal, but hopefully it'll work while we don't merge a fix.

[2020-10-26 22:11] arigon commented on #69
I already restarted that container yesterday. But I will do so again.

[2020-10-27 17:53] arigon commented on #69
after intensive research with @Streppel (thx a lot!) we found the problem is in the alpine docker image which didn't update properly from CEST to CET. I will close this :)

[2020-10-27 17:53] #69 closed

[2020-10-30 04:50] 1nFrastr commented on #70
What you need can be translated to the old-school crontab fomat:
`scheduler.Every(1).Hour().At(":00").Lock()` =>` 0 */1 * * *`
`scheduler.Every(1).Hour().At("**:30")` => `30 */1 * * *`

Actually, `scheduler.Every(1).Hour()` runs at 00:00 every hour default, you donnot need to write `At(":00")` explictly.
And, try this to run at specify minute in a hour.
[code]

[2020-10-30 07:07] GeitV commented on #70
Indeed, it could be defined as crontab format - but I liked the good-and-simple solution (so anyone glancing it wouldn't have to think twice to understand) that other projects used.

I did not know that by default it will run @ 00:00 every hour, this will simplify one of them, and in another one (running at :30 each hour) I used about the same idea
[code]
I thought that time must be in future (thu

[2020-11-03 09:04] apremalal opened #72 "[FEATURE] - Ability to reschedule a task"
### Is your feature request related to a problem? Please describe

I want to be able to change the scheduling time based on the settings received while executing a task

### Describe the solution you'd like

I tried adding a separate channel to capture a message on task frequency change and clearing the existing task and the adding a new one with the new frequency. However this causes race conditi

[2020-11-03 09:44] apremalal commented on #58
@Streppel thanks for the fix. Could you release a new tag with the fix?

[2020-11-03 13:42] Streppel commented on #58
@apremalal done!

[2020-11-04 03:37] apremalal commented on #58
@Streppel thanks and appreciate your help

[2020-11-05 23:08] Streppel commented on #72
@apremalal thanks for the idea, that's a very interesting usecase indeed. Could you provide an example? Like, for a job running Every(3).Seconds(), then during runtime for whatever reason it should be changed to Every(5).Hours()?

[2020-11-06 00:57] apremalal commented on #72
@Streppel exactly. Inside the task it receives the job frequency as a setting from an api, if the frequency is different from current running frequency, it has to change the scheduling of the current job.

[2020-11-07 14:37] josvegit opened #73 "Data race"
There is a data race problem with this lib

![image](https://user-images.githubusercontent.com/24354568/98443943-00686600-210f-11eb-8f87-a773be9473aa.png)

[2020-11-09 09:16] josvegit commented on #73
![image](https://user-images.githubusercontent.com/24354568/98522059-87831e80-2274-11eb-81fa-6ed099a2df6c.png)
![image](https://user-images.githubusercontent.com/24354568/98522100-91a51d00-2274-11eb-9850-2a8e66c11ca8.png)

Reproduce above

[2020-11-10 02:53] JohnRoesler commented on #73
Thanks for reporting this! Hoping to get a chance to look into in the next few days.

[2020-11-10 04:15] JohnRoesler opened #75 "Investigate other possible race conditions"
### Describe the bug

Running go test -race shows some race conditions. Need to determine if those are in the tests only, or if they're valid race conditions in the code.

### To Reproduce

`go test -race github.com/go-co-op/gocron`

### Version

daf5304

### Expected behavior

### Additional context

[2020-11-10 05:06] JohnRoesler commented on #73
That should be fixed on master now. Please confirm and I'll close this out 👍

[2020-11-10 11:21] josvegit commented on #73
Works now ! no race issues ! WP

[2020-11-10 14:46] #73 closed

[2020-11-10 15:53] farwydi commented on #73
💩

[2020-11-13 13:21] mjammer commented on #72
Sometimes, I need to remove a job by tag, and then add a new job,  `scheduler Next Run` this job. Otherwise, this job would be run quickly.

[2020-11-13 16:31] JohnRoesler opened #76 "[FEATURE] - Create a roadmap"
### Is your feature request related to a problem? Please describe

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2020-11-16 02:06] wanghuashun opened #78 "question"
how to check all jobs

[2020-11-16 03:23] Streppel commented on #78
@wanghuashun Hello! What do you mean by "check all jobs"? Can you be a little more specific?

[2020-11-16 03:25] wanghuashun commented on #78
View all scheduled tasks list

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "go-co-op/gocron"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年11月16日(星期一) 中午11:23
收件人:&nbsp;"go-co-op/gocr

[2020-11-16 03:27] Streppel commented on #78
You can do that by calling the .Jobs method on the scheduler

[2020-11-16 03:29] wanghuashun commented on #78
OK, I'll try first

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "go-co-op/gocron"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年11月16日(星期一) 中午11:28
收件人:&nbsp;"go-co-op/gocron"<gocron@

[2020-11-16 06:09] wanghuashun commented on #78
s1 := gocron.NewScheduler(time.UTC)
	//_, _ = app.Name.Every(5).Seconds().Do(task)
	s1.Every(1).Day().At("14:08:00").Do(task)
	// scheduler starts running jobs and current thread continues to execute
	s1.StartAsync()

[2020-11-16 06:10] wanghuashun commented on #78
It was not implemented at the specific time

[2020-11-16 06:15] Streppel commented on #78
Is UTC your local time zone?

[2020-11-16 06:18] wanghuashun commented on #78
It should be

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "go-co-op/gocron"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年11月16日(星期一) 下午2:16
收件人:&nbsp;"go-co-op/gocron"<gocron@noreply

[2020-11-17 07:41] SaurusXI commented on #22
@Streppel @JohnRoesler any updates on the store job feature?
I'm writing an application daemon where a scheduler executes a fixed task. This means the scheduling information would be lost every time the user reboots. For the present version, I imagine serializing the scheduler and deserializing on reboot (a little hackish) might do it for me?

[2020-11-17 17:00] Streppel commented on #22
Hi @SaurusXI! Just to keep you informed, there's no one working on this feature at the moment that we are currently trying to focus on delivering a stable version one before trying to add new features like this.

Just to have a better understanding, what kind of schedule information do you need to be saved? ￼￼

Loading these preconditions from a persisted file might do it depending on your case.

[2020-11-17 18:33] SaurusXI commented on #22
Hey @Streppel! I need to run an external script periodically, but the interval at which this script is run is decided by the user and can be changed at any time. These specifications are then managed by a daemon, and the information is stored in a persisted file.
I want to plug the scheduler in the daemon application. I imagine if I just use the scheduler normally, the time offset since the previo

[2020-11-17 18:50] Streppel commented on #22
@SaurusXI I see! That's interesting. We have a feature on the roadmap to be implemented to change job's the scheduling pattern during runtime, so I believe that this feature, alongside with persisting your configurations anyway you want to, would be exactly what you need. Meanwhile, you can stop the current scheduler and start a new one or remove the given job and add this new one with the new con

[2020-11-17 19:15] SaurusXI commented on #22
Right, that feature would be perfect!
If I try the alternative approach however, wouldn't I lose out on the time offset every time the user reboots?
Say that the user has an hour long session before they shut down. The scheduler registers that an hour has passed. However when the system shuts down, this object is lost. So when the user starts a new session, even though the configuration is importe

[2020-11-17 20:09] JohnRoesler commented on #22
@SaurusXI I am wondering, could you store the time of the next run before the session is shut down? https://pkg.go.dev/github.com/go-co-op/gocron#Job.ScheduledTime

[2020-11-17 22:13] SaurusXI commented on #22
Yes, that would work. Alternatively, what if I serialise the scheduler object instance and stored that? Then I can deserialise the object when daemon starts up, and I shouldn't lose time offset or scheduling information right? So then I wouldn't have to set up a new job according to configs, I'd be directly importing what I've set previously?

[2020-11-18 13:23] JohnRoesler commented on #22
That sounds reasonable

[2020-11-19 16:53] Streppel commented on #78
Closing this due to lack of information. If desired, repoen the issue with the current code, what was expected and what was gotten instead.

[2020-11-19 16:53] #78 closed

[2020-11-25 04:52] JohnRoesler opened #80 "[BUG] - job executes every second when scheduled for more seconds"
### Describe the bug

Reported by `Hari` in slack [here](https://gophers.slack.com/archives/CQ7T0T1FW/p1606197916006000) (thank you!)

A job is scheduled every 8 seconds, but runs every second.

### To Reproduce

[code]

#### output
[code]

### Version

140559b31e3d871b668d914749ac7b19d60cb099

### Expected behavior

Generated the expected output on 0969260d6b0aeb487aae6a686dd8db5c23c219e8
[code]

[2020-11-25 16:20] #80 closed

[2020-11-26 06:51] Algalish commented on #53
@Streppel
I wanted a cron firing every 10 minutes, but not counting from when cron is loaded but from the real time : like 10:00 10:10 10:20.
The only solution that I thought of was to  setup daily crons for all those time intervals: 0:00 0:10 and so on. So total of 144 open jobs to the same function.

And that resulted in crash for me today. Pretty sure that this is because of the amount of jobs.

[2020-11-27 20:49] JohnRoesler commented on #53
@Algalish we'll take a look at that issue you uncovered.

In the meantime, are you able to schedule a job every 10 minutes starting on the nearest 10 min time and avoid scheduling 144 jobs?

`s.Every(10).Minutes().StartAt(time now rounded to next 10 min time).Do(task)`

[2020-11-27 23:47] Algalish commented on #53
@JohnRoesler  Thank you , this is exactly what I wanted! And just wanted to add that the above crash happened 2 times, 3am for me and it was GMT+3 so its midnight GMT time. hope that helps you find the crash.

[2020-11-28 00:06] Algalish commented on #53
@JohnRoesler

some more information, maybe it will help you too. so this happened the third time at midnight GMT and this time I had half the amount of timers active. (every 20 minutes)

here is the code that I used
[code]

[2020-11-28 04:41] JohnRoesler opened #84 "[BUG] - Reflect panic with too many jobs possibly"
### Describe the bug

reported by @Algalish

[code]

### To Reproduce

[code]

### Version

### Expected behavior

### Additional context

[2020-12-09 16:21] dlaweb opened #85 "[FEATURE] - Remove Job from Scheduler Jobs when the Job is supposed to be launch only once."
### Is your feature request related to a problem? Please describe

I've have a Job that i would like to run only once at a specific date

[code]
However when the Job has run i still have a reference to it in the scheduler `scheduler.Jobs()`

I have to manually remove this specific Job in my task when the Job is done.

`scheduler.RemoveJobByTag(tag)`

Because if i don't, and if i run a second Job a

[2020-12-09 16:39] JohnRoesler commented on #85
@dlaweb thanks for reporting this!

Are you later adding jobs to the running scheduler? Just trying to understand how the 2nd job is added so we can look at where the logic is that's causing the limited job to run again.

[2020-12-09 16:50] dlaweb commented on #85
_Are you later adding jobs to the running schedule_ : Yes

[1] My program runs the scheduler

[code]

[2] I send a request in order to run a Job:

 Sending request with **date** ( today 17:45 ) ...

-> OK , correctly executed task

[3] I send a another request in order to run a second Job:

Sending request with **date** ( today 17:50 ) ...

-> X , never executed

[2020-12-09 17:14] dlaweb opened #86 "[FEATURE] - Remove Job from Scheduler Jobs when the Job is supposed to be launch only once"
# Is your feature request related to a problem? Please describe
I've have a Job that i would like to run only once at a specific date

job, err = scheduler.Every(1).StartAt(date).SetTag(tag).Do(task)
...
job.LimitRunsTo(1)

However when the Job has run i still have a reference to it in the scheduler scheduler.Jobs()

I have to manually remove this specific Job in my task when the Job is done.

sch

[2020-12-09 17:15] #86 closed

[2020-12-09 17:15] dlaweb commented on #85
Sorry i've close this issue by mistake

[2020-12-09 18:14] JohnRoesler commented on #85
I was able to recreate and I've found the bug with the 2nd job never running (code below). I will open a PR shortly to resolve!

[code]

[2020-12-09 22:03] dlaweb commented on #85
What do you think about removing a Job (after the job has been executed) from the scheduler when the Job is run only once.
Because if i run 100 single Job i'll have a scheduler.Jobs with 100 Jobs who will be outdated after their execution

[2020-12-10 15:05] JohnRoesler commented on #85
That is an interesting idea. I could see cases where someone might want to increase the limit of a job.

e.g.

[code]

So, really I could see both being valuable. We could consider if there is a flag we could add that you can set when limiting the run to specify to remove it. e.g. `job.LimitRunsTo(1).RemoveAfterRun()`

[2020-12-11 14:16] arjunmahishi commented on #84
I modified the `for` loop a little bit to debug this:
[code]
This is the output I got:

[code]

As you can see, there is an error while running the `Do` function. But since the error is not being handled, the `panic` happens.

This is happening because we create a placeholder job in the `Every` function. And we only assign a "task"/"function" to that job in the `Do` function. But in this case, we

[2020-12-11 17:56] #84 closed

[2020-12-11 20:06] JohnRoesler commented on #85
The bug here has been fixed with release [v0.4.0](https://github.com/go-co-op/gocron/releases/tag/v0.4.0).

I re-opened this issue to track the feature request element for supporting remove jobs upon a single run.

[2020-12-11 20:07] JohnRoesler commented on #80
This has been resolved in [v0.4.0](https://github.com/go-co-op/gocron/releases/tag/v0.4.0)

[2020-12-11 20:07] JohnRoesler commented on #84
Resolved in [v0.4.0](https://github.com/go-co-op/gocron/releases/tag/v0.4.0)

[2020-12-11 20:09] JohnRoesler commented on #73
Resolved in [v0.3.3](https://github.com/go-co-op/gocron/releases/tag/v0.3.3)

[2020-12-16 14:50] lucky-wolf opened #91 "[FEATURE] - Delayed start"
### now that the default to startsimmediately is true & working

We can say what interval a job should run at, but not that it should start after that first interval, TTBOMK

### would like to have a trivial way to set that to false, so it starts at the next "every" cycle

scheduler.AfterEvery(x).Seconds().Do(...)

### Start a PR

Happy to create a trivial PR for this - just wanted to see if there

[2020-12-16 15:17] JohnRoesler commented on #91
hi @lucky-wolf

Would using the `StartAt` function meet this ask? https://godoc.org/github.com/go-co-op/gocron#Scheduler.StartAt

For example,

[code]

Your use case entirely makes sense - and I am hoping that we still support it. The reason for the change, was twofold: we felt it was more natural behavior for the task to start right away rather than delaying, and from the implementation side, it

[2020-12-16 21:07] #85 closed

[2020-12-17 00:54] lucky-wolf commented on #91
@JohnRoesler yeah, I can use it that way. I didn't realize you could mix StartAt with Every - but since you obviously can - I can just use a delayed start that way.

Thanks for the push in that direction.  And a great tool!

[2020-12-17 14:53] JohnRoesler commented on #91
You're welcome - I am glad that fits your need! I see now that it isn't immediately obvious - I will add a note to the release - for that change to highlight that you can use `StartAt` to achieve the old behavior.

[2020-12-17 14:53] #91 closed

[2020-12-17 17:19] JohnRoesler commented on #41
Repurposing this issue to the solution we discussed in #57

[2020-12-17 17:20] JohnRoesler commented on #22
Closing as it appears we have some solutions based on the discussion. Please re-open if there is still something lacking in gocron!

[2020-12-17 17:20] #22 closed

[2020-12-17 17:21] JohnRoesler commented on #29
@Streppel have you had a chance to work on this one? It seems like a valuable fix

[2020-12-17 17:31] #75 closed

[2020-12-17 18:11] Streppel commented on #29
I have to admit that it was a long weekend since my last message lol I didn't unfortunately John. Indeed, I agree with you. I'll take a look at it again and send feedback here. If you want to take a look at it too feel free just let me know beforehand

[2020-12-17 18:52] JohnRoesler opened #95 "Add examples for all exported functions to example_test.go for go documentation"

[2020-12-18 14:50] #17 closed

[2020-12-20 09:40] PolyglotOpenstreetmap opened #96 "[FEATURE] - Persist schedule between runs"
Hi,

Do I understand correctly that when the process stops, all scheduled jobs are lost?

I would like to save the jobs to disk, so they can be reloaded and scheduled again when my app is started.

I need to do this anyway, but I was wondering whether it makes sense that I create a pull request, so it can be added to the package?

Jo

[2020-12-20 17:43] JohnRoesler commented on #96
Hi,

we had a similar request here https://github.com/go-co-op/gocron/issues/22 and we decided not to add it to the package. Let know if that makes sense for what you are trying to do.

[2020-12-20 20:57] PolyglotOpenstreetmap commented on #96
I forked the repo a few hours ago. If I figure out something that works, I'll create a PR, so you can evaluate what I did. It may not fit after all, so you can always reject it.

[2020-12-20 22:41] PolyglotOpenstreetmap commented on #96
I'm sorry. I have been overthinking this. I have to persist the jobs on my side. Looking at your code has taught me a few things, so it was worth it.

Thanks for your work!

Jo

[2020-12-20 22:41] #96 closed

[2020-12-20 22:57] JohnRoesler commented on #96
You’re very welcome! We’re always on Slack if you’d like to discuss anything more real time 😊

[2020-12-21 22:29] alex1989hu opened #97 "[FEATURE] - Add golangci-lint GitHub Action"
### Is your feature request related to a problem? Please describe

Using popular lint tool `golangci-lint` would help to keep the code cleaner and fix the already existing issues.

### Describe the solution you'd like
- Add `.github/workflows/golangci-lint.yml`
- Remove `lint`, `fmt`, `check-fmt` and `vet`  job from `.github/workflows/go_test.yml`
- Remove `fmt`, `check-fmt` and `vet` from `Makefi

[2020-12-22 15:33] JohnRoesler commented on #97
Hey @alex1989hu - thanks for the suggestion. This looks pretty cool. Running it locally I can see some things we should address, and some we already knew about but just haven't gotten around to solving yet.

[2020-12-25 18:14] PolyglotOpenstreetmap opened #98 "[BUG] - schedule job at specific time"
### Describe the bug

I start a scheduler in my local timezone. Then I read the scheduled jobs from a struct in settings.
I receive the start time as a json timestamp, which is converted to a Golang Time. In the printed output, it seems like this conversion works the way it should.

Also when I ask when the next scheduled job is going to run, I see the correct time.

Alas, when the time comes to r

[2020-12-28 04:16] JohnRoesler commented on #98
Hi Jo, I did some testing with the `StartAt` func locally and it works as expected for me. For example, a simple run:

[code]

Nothing in your code snippet is standing out to me as causing an issue. How are you running this? Possible the host time isn't right in some way that is effecting your application? We had an odd bug a while back where one of the docker containers had a bug in it's timezone

[2020-12-28 04:33] JohnRoesler commented on #50
Hey all, we have since removed the lock implementation from gocron and are recommending the jobs themselves handle locking in the event that is needed. This is in our readme now:

[2020-12-28 04:33] #50 closed

[2020-12-28 04:56] JohnRoesler commented on #44
I was looking into this some, and I think we could move to having the every func take a duration `Every(t time.Duration)`, which would have quite a few impacts:

- we would no longer need to track units as each jobs next run would simply be it's interval/duration. this would remove the need for all the funcs `Second()` `Hour()` etc.
- it would support setting an every interval to be anything the u

[2020-12-28 09:23] PolyglotOpenstreetmap commented on #98
I'm also thinking it might be timezone related, so I added a job for an hour later as well.

The reason I was looking into gocron was because I needed 1 second resolution instead of 1 minute. Now I'm experimenting with systemd jobs. In the end I want to start a shell script that starts cvlc or chromium-browser in kiosk mode, so that may be a better fit.

Jo

[2020-12-29 15:10] JohnRoesler opened #100 "[FEATURE] - Allow scheduler to be stopped with Stop()"
### Is your feature request related to a problem? Please describe

### Describe the solution you'd like

@Streppel

### Describe alternatives you've considered

### Additional context

[2020-12-29 15:28] JohnRoesler commented on #44
A reasonable approach here as noted would be to add support for allowing custom durations.

@Depado could you give an example of the duration you might like to see that isn't supported today?

[2020-12-29 15:50] Depado commented on #44
Hey @JohnRoesler

I can't really remember the use case I was facing when opening this issue. I think I already had a `time.Duration` and wanted to use that directly.

The `Every(t time.Duration)` technique you're mentioning would indeed fit that need. As you stated though, it would make things complicated when getting to days or months, so maybe a function like `EveryDuration(t time.Duration)` tha

[2020-12-31 09:09] #41 closed

[2020-12-31 16:23] JohnRoesler commented on #13
creating a project board instead of this issue

[2020-12-31 16:23] #13 closed

[2020-12-31 16:27] JohnRoesler opened #101 "Backend design improvement - Scheduler + Exector"
The current design involves a lot of struct accessing across multiple goroutines, resulting in a many mutexes to avoid race conditions.

The proposal here is to move to a new backend design as such:

- Executor: Instead of the scheduler kicking of jobs by calling the `Job.run()` func, the executor will listen on a channel for job functions to execute. This removes the need for multiple goroutines

[2021-01-12 03:13] jwzl commented on #98
I has same problem!

[2021-01-12 05:48] jwzl commented on #98
s := gocron.NewScheduler(time.Local)
	klog.Infof("%v", s.Location())

	t := time.Date(2021, time.January, 12, 13, 44, 10, 10, time.Local)
	t = time.Now().Add(time.Second * 5)
	job, _ := s.Every(1).Day().StartAt(t).Do(fuck, 8, 9 , 10 , "1221")
	klog.Infof("%v", job.ScheduledAtTime())

	s.Every(1).Day().StartAt(time.Now().In(s.Location()).Add(time.Second * 5)).Do(func() { klog.Infof("hello XXXX") })

[2021-01-12 05:52] jwzl commented on #98
my platform is ubuntu 16.04 amd64

[2021-01-12 06:24] jwzl commented on #98
`func (s *Scheduler) scheduleNextRun(job *Job) {
	now := s.now()
	lastRun := job.LastRun()

	// job can be scheduled with .StartAt()
	if job.neverRan() {
		if !job.NextRun().IsZero() {
			return // scheduled for future run and should skip scheduling
		}
		lastRun = now
	}

	durationToNextRun := s.durationToNextRun(lastRun, job)
	job.setNextRun(lastRun.Add(durationToNextRun))
	job.setTimer(time.Aft

[2021-01-13 10:34] mikhailbolshakov commented on #98
hi all,
same issue

	s := gocron.NewScheduler(time.Local)

	expectedTime := time.Now().Add(time.Second * 10)
	fmt.Println("expectedTime = ", expectedTime)

	j, _ := s.Every(1).Day().StartAt(expectedTime).Do(func() { fmt.Println("hello") })
	fmt.Println("next run = ", j.NextRun())

	s.StartAsync()

	select {
		case <-time.After(time.Second * 20):
			fmt.Println("time out")
	}

output:
expectedTime

[2021-01-13 15:07] JohnRoesler commented on #98
Hi all - looks like a problem with release `v0.5.0` - we'll dig into the bug. Could you try using `v0.4.0` for now and see if that resolves the issue?

[2021-01-13 16:13] mikhailbolshakov commented on #98
it works on v0.4.0

[2021-01-13 16:15] JohnRoesler commented on #98
@mikhailbolshakov thanks for the confirmation - and for calling out the bug

[2021-01-13 16:20] mikhailbolshakov commented on #98
In v0.4.0 we get to the scheduleNextRun after chan ticker is fired,

![cron_debug_v040_0](https://user-images.githubusercontent.com/63634283/104479228-3d038280-55d4-11eb-9b11-6cbe06e6060b.png)

![cron_debug_v040_1](https://user-images.githubusercontent.com/63634283/104479220-3aa12880-55d4-11eb-8807-5df90ebfda8d.png)

 seems in v0.5.0 we don't have such logic at all

![cron_debug_v050](https://user

[2021-01-14 18:49] dlaweb opened #102 "[BUG] - StartAt Task doesn't run since 0.5.0"
### Describe the bug

Something is broken since the last release 0.5.0; tasks aren't executed anymore in that specific case :

### To Reproduce

[code]
### Version

0.5.0

[2021-01-14 19:37] JohnRoesler commented on #102
duplicate https://github.com/go-co-op/gocron/issues/98

[2021-01-14 19:37] #102 closed

[2021-01-15 16:28] JohnRoesler commented on #102
Check out [v0.5.1](https://github.com/go-co-op/gocron/releases/tag/v0.5.1)

[2021-01-15 16:28] JohnRoesler commented on #98
Check out [v0.5.1](https://github.com/go-co-op/gocron/releases/tag/v0.5.1) - this should fix the bug. Thanks again for reporting it!

[2021-01-21 00:58] jwzl commented on #98
Thank you very much!@JohnRoesler

[2021-01-23 18:29] #100 closed

[2021-01-24 00:42] calvinmclean opened #106 "[BUG] - `StartAt` in the past causes next execution time to calculate based on `Now`"
### Using `StartAt` with a date in the past doesn't behave as expected

If I am creating a scheduled job and use `StartAt` with a date in the past, I expected the next execution time to be calculated based on that start date and the defined interval, but instead it uses the current time and the interval.

**I am not sure if that is a bug or intended behavior** so I chose to open this issue before

[2021-01-24 03:19] JohnRoesler commented on #106
@calvinmclean thank for opening this issue!

I would say it’s currently working as designed. But, I don’t believe we specifically said that a date in the past would result in this behavior.

The name StartAt doesn’t imply relative to anything, so I am ok having it handle times in the past.

How would the implementation you’re considering calculate the next run?

[2021-01-24 16:27] calvinmclean commented on #106
Originally I was thinking about changing [this line](https://github.com/go-co-op/gocron/blob/master/scheduler.go#L136) to set `lastRun = job.startAtTime`, but realized this won't work if the start time is more than one interval in the past. Instead, we would have to loop and use `durationToNextRun` until the next run time is in the future. This might not be ideal if the `StartAt` is far in the pas

[2021-01-25 08:44] huage1994 opened #107 "[BUG] - RemoveJob does not work in v0.5.1"
### Describe the bug

Method RemoveJobByTag does not work in v0.5.1 ,  it can work in v0.4.0

### To Reproduce

run code in v0.4.0

[code]

[2021-01-25 16:27] Streppel commented on #107
@huage1994 thanks for reporting it! Will take a look.

[2021-01-28 19:17] dlaweb commented on #98
Still have some issue with the 0.5.1
Infinite loop of task with this code:

func task() {
	fmt.Println("Im a dummy task")
	return
}

func main() {
	s1 := gocron.NewScheduler(time.UTC)

	// scheduler starts running jobs and current thread continues to execute
	s1.StartAsync()

	// Remove a Job after its last execution
	j, _ := s1.Every(1).StartAt(time.Now().Add(5 * time.Second)).Do(task)
	j.LimitRu

[2021-01-31 09:16] Nikkhah commented on #107
Hi
I have this problem too. Could you find the solution?

[2021-01-31 14:51] huage1994 commented on #107
Just now upload fixed code to my forked repo.

[2021-01-31 15:56] Streppel commented on #107
Sorry guys I'm short on time, as soon as I get my eyes on this I'll let you know here. Probably later today

[2021-01-31 19:35] JohnRoesler commented on #106
Perhaps before that line, we could add an if check:

[code]

[2021-02-02 09:48] xinydev opened #111 "[BUG] - Remove job after last execution not working"
### Describe the bug

Remove job after last execution not works

### To Reproduce
[code]

The limit not works and the job will run forever
### Version

v0.5.1
### Expected behavior

job runs only once
### Additional context

[2021-02-02 18:28] JohnRoesler commented on #111
Ah - you've exposed a different bug here, which is that no unit is set like `.Seconds()` which causes some odd behavior!

[2021-02-02 22:10] #107 closed

[2021-02-03 02:55] xinydev commented on #111
@JohnRoesler  still has this bug....

[2021-02-03 02:56] xinydev commented on #111
/reopen

[2021-02-03 16:22] JohnRoesler commented on #111
@xinydev thanks for reporting - yes I see it still does. I am digging into this!

[2021-02-03 19:21] #106 closed

[2021-02-03 20:04] #111 closed

[2021-02-03 20:06] JohnRoesler commented on #98
@dlaweb this is fixed in #114

Please confirm when you have a moment!

[2021-02-03 20:06] #98 closed

[2021-02-03 20:06] JohnRoesler commented on #111
@xinydev it should be fixed now! Please let me know if you see any issue still.

[2021-02-04 08:12] Kurt212 opened #115 "[BUG] - Job with LimitRunsTo(1) runs twice"
### Describe the bug

If you add a job to **a running scheduler** and set its **run limits to 1**, then the job is executed **one extra time**. It runs 2 times instead of 1 time.

### To Reproduce

Steps to reproduce the behavior:

1. StartAsync a scheduler
2. Add a new job to the scheduler
3. Set the new job's run limit to 1

[code]

The program output:
[code]

### Version

Current master branch.

[2021-02-04 08:50] arjunmahishi commented on #115
Hey @Kurt212,
As I can see in the above snippets, you are starting the scheduler before adding the job. This works as expected when you first created the job and then start the scheduler.

[code]

[2021-02-04 11:44] dlaweb commented on #98
@JohnRoesler  Yes it works now, thank you ! 👍

[2021-02-04 15:04] JohnRoesler commented on #115
Hey @Kurt212

Thanks for bringing this up. As @arjunmahishi points out, it is _working as expected_, but it's super clear why it works that way.

The reason, is that jobs are started immediately by default, so when you add a job to a running scheduler it will run right away. After the job runs it is immediately rescheduled and because there is no limit, it is scheduled. Then the limit is imposed,

[2021-02-05 03:26] #115 closed

[2021-02-05 03:53] #97 closed

[2021-02-05 11:21] benderdave opened #120 "[BUG] - Removing a task fails to stop it from executing"
### Describe the bug

Removing a task doesn't prevent it from being executed.

### To Reproduce

I may be missing something, but it appears that there is no way to actually remove a task. The following unit test will run 'task' for three seconds, and then remove it, but afterward the task still runs.

[code]
### Version

v0.5.1

### Expected behavior

Once a periodic job is removed it should not r

[2021-02-05 13:34] JohnRoesler commented on #120
Hey @benderdave - this should be fixed on matter. Can you confirm? By this pr  https://github.com/go-co-op/gocron/pull/112

[2021-02-05 14:53] benderdave commented on #120
@JohnRoesler thanks for the quick response! Appreciate it. I think #112 is close, but doesn't fix the problem I'm seeing when the job is already running at the time Remove is called. As it stands the timer will be stopped but then a new timer will be created once the job finishes its current run. From the Timer go docs...

[code]

I just don't see any (easy) way to stop the job from rescheduling i

[2021-02-06 00:42] #44 closed

[2021-02-08 19:58] JohnRoesler commented on #120
@benderdave I took your sample code and ran it against current master. I get this output:

[code]

This looks right to me as the tasks are already scheduled by the time the task is removed. Removing a job does successfully stop the timer. If you add a time.sleep inside the task function, you can force the tasks to print after the job has been removed, but this is due to how the timer after func sp

[2021-02-09 15:11] #95 closed

[2021-02-09 15:20] JohnRoesler commented on #72
@apremalal hey! we've made quite a few changes to the library since you opened this issue. Now that jobs are scheduled using the timer after func, we have the remove job logic stop that timer which will stop any more jobs from being scheduled. Would this work to meet your need or are you still looking for a way to directly update the job's settings?

Example or removing a job, waiting a bit and sc

[2021-02-09 15:37] JohnRoesler commented on #115
This is released in [v0.6.0](https://github.com/go-co-op/gocron/releases/tag/v0.6.0)!

[2021-02-09 15:37] JohnRoesler commented on #111
This is released in [v0.6.0](https://github.com/go-co-op/gocron/releases/tag/v0.6.0)!

[2021-02-09 15:38] JohnRoesler commented on #107
This is released in [v0.6.0](https://github.com/go-co-op/gocron/releases/tag/v0.6.0)!

[2021-02-09 15:38] JohnRoesler commented on #106
This is released in [v0.6.0](https://github.com/go-co-op/gocron/releases/tag/v0.6.0)!

[2021-02-09 15:38] JohnRoesler commented on #100
This is released in [v0.6.0](https://github.com/go-co-op/gocron/releases/tag/v0.6.0)!

[2021-02-11 13:53] benderdave commented on #120
@JohnRoesler thanks for the example! I think it helps clarify the issue.

In your example `task` will continue to run, even after the call to sched.Remove. It just keeps its own state and stops printing anything after the timeout (you can see that if you add a print after `'case <-ctx.Done():`). If one were to create and remove millions of such tasks they would continue to run throughout the life

[2021-02-11 15:39] JohnRoesler commented on #120
Ah @benderdave great find - thank you so much for pointing that out. Yes, I think that makes a lot of sense as yes, I would agree removing should stop the job (which is what we thought was happening 😞 .

We have a method that will check if the job is still in the scheduler, `s.jobPresent()`, so that could be called inside the set timer block.

Would you like to open a PR or shall I?

[2021-02-11 18:18] benderdave commented on #120
Cool! Go ahead and do it if you don't mind. Thanks!

[2021-02-11 21:13] JohnRoesler commented on #120
@benderdave I did some more digging, so when we remove a job from the scheduler, we do call `Stop()` on the job's timer, which would cause the timer to be stopped and any additional runs would not occur. I can see that a log line after `ctx.Done` is called, but not continuously. I modified my previous example, and I get this output:

[code]

I'm running on the latest release, and with go 1.15.6. D

[2021-02-12 10:41] Depado commented on #44
Amazing, thanks! :fireworks:

[2021-02-12 12:26] benderdave commented on #120
With the latest release I see the behavior you're describing -- once the job is removed no further instances are scheduled. There's a jobPresent check in the main body of scheduleNextRun now (added in 507947a7), so the timer callback doesn't need one. Even in the small window of time between when the timer fires and the next one is set, if the job has been removed it will be caught. Looks great!

[2021-02-12 12:36] #120 closed

[2021-02-19 21:28] #101 closed

[2021-02-21 18:48] ozzyst opened #125 "What is a different between day and days?"
Hello!

What is a different between day and days, month and months, etc? For example, I want to start some function every the first day of every month. Should I use month or months?

I'm a little confused after checking the doc. Also I haven't tried the code yet.

[2021-02-21 20:01] JohnRoesler commented on #125
They are the same! Just to make it read well if you want to do, every 1 month, vs every 2 months.

these are valid but don’t read well:

Every(1).Months
Every(2).Month

anything we can do to make it more clear in the docs?? Thanks!

[2021-02-22 02:51] ozzyst commented on #125
I think the best way is write about are the same :D

Thank you!

[2021-02-22 02:51] #125 closed

[2021-02-24 04:10] JohnRoesler commented on #70
@GeitV interesting idea here. Right now, `At()` isn’t supported on the `Hour()` definition - it’s used with the `Day()` interv. However you could use `StartAt()` and round to the next 30 min time.

I think it could be a nice feature to add what you’re proposing. I’ll poke at it when I get some time and see what it could look like.

[2021-02-24 04:12] JohnRoesler commented on #19
The problematic time related tests are fixed using the mock time.

I think it would be interesting to see about mocking the time after func so we could run daily or hourly tests in seconds.

[2021-02-24 23:03] Streppel commented on #19
After that I believe we'll be done with this issue. I'll take a look into it!

[2021-02-25 15:27] #53 closed

[2021-02-25 15:34] JohnRoesler opened #127 "[FEATURE] - Support running weekly schedule on multiple days of the week"
### Is your feature request related to a problem? Please describe

This would be nice to allow a single job to be run multiple days of the week.

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

[code]

### Additional context

Perhaps scheduledWeekday becomes a slice, and then we figure out the right way to support that in calculating the duration to next

[2021-02-25 19:13] JohnRoesler opened #128 "[FEATURE] - Support running a job on multiple days of a month"
### Is your feature request related to a problem? Please describe

This would be nice to allow a job to run multiple days in a month vs. a single day
### Describe the solution you'd like

[code]

### Describe alternatives you've considered

[code]

### Additional context

could be done by adding a `func On(day int)`

[code]

[2021-02-25 19:14] JohnRoesler opened #129 "[FEATURE] - Support running a job multiple At() times a day/week/month"
### Is your feature request related to a problem? Please describe

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

[code]

### Additional context

[2021-02-25 19:18] JohnRoesler commented on #76
closing -> started https://github.com/go-co-op/gocron/projects/2?add_cards_query=is%3Aopen

[2021-02-25 19:18] #76 closed

[2021-02-28 13:18] gopherine opened #131 "[FEATURE] - Limit task by tag name"
### Is your feature request related to a problem? Please describe

I am not really sure if this is already present and i am missing something out in this library but it would be nice to have functionality to run only one job with assigned tag name. Right now this can be added N times. I have a requirement where i would like to add only one cron per tag

### Describe the solution you'd like

`s.Eve

[2021-02-28 23:31] JohnRoesler commented on #131
Correct, currently tags are free form strings and multiple tags can be assigned to each job and the same tag(s) can be applied to many jobs.

Sounds like you’re interested in the ability to force tags to be unique across the scheduler?

[2021-03-01 00:25] gopherine commented on #131
@JohnRoesler Thanks for the response, Rather than unique i would say , I would like to have more control over the tags. So right now the only power of tags as I see is i can remove it using tags. What I Want is to limit how many jobs we can run at a time with the tag.

So if I define lock(1) only one unique job should run for that tag, now this job can have multiple tags. But that tag with the log

[2021-03-01 01:37] JohnRoesler commented on #131
Have you looked at the LimitRunsTo, Singleton or SetMaxConcurrentJob funcs? Are any of those helpful?

Also, there isn’t a Lock func anymore...

I’m just trying to follow, so you want to limit multiple tagged jobs, like 3 jobs have this same tag and you want only one to run at a time? Or am I still missing it?

[2021-03-01 02:24] gopherine commented on #131
I looked at LimitRunsTo, but that is for number of times a specific job should run
I tried singleton but i think it blocks job as a whole

[code]

So like in the above code I am handling, the functionality I want using maps. I want the same thing here.
For example, if i pass a tag name A-> this should run only one job under that tag

Now in theory I can have multiple tags = A, B , C etc and there

[2021-03-01 04:22] JohnRoesler commented on #131
We could look at expanding the singleton mode to allow it to apply to job tags vs a single job.

[2021-03-01 19:59] JohnRoesler commented on #131
I’m thinking this could be done on the scheduler with a map of tags to singleflights. Then when this mode is enabled, it would check the job tags and run the against the singleflight associated with the tag. That way, only one job could run at a time.

How would we handle if a job had two tags that each had a singleflight? Not allow it, pick the first?

[2021-03-01 20:08] gopherine commented on #131
Originally, I did not like the idea of map because this can leave a huge memory footprint. If there would be a friendly way to handle it via struct or array but with array then timecomplexity would be a problem this would be more efficient i think though i am not sure how this is being handled in singleton mode.But lets say we have like 1 million tags in a map this would be memory intensive. Just

[2021-03-01 20:44] JohnRoesler commented on #131
Are you wanting the unique behavior to block job creation or only job runs? If block creation then I think that becomes much simpler!

[2021-03-01 20:48] gopherine commented on #131
I don't really understand how is blockjob creation different from job runs. I just expect a behaviour where we could limit number of jobs for the given tag. now if blockjob creation does this job and is much simpler and performant, i would say go with it.

The idea being tag A should only be allowed to have 1 job  running under that tag and no more. and we can have millions of tags each running 1

[2021-03-03 19:54] sylviamoss opened #132 "[BUG] - Job is running twice"
### Describe the bug

I scheduled a job to run one time a day at a certain time. When is missing 1 sec to the scheduled time, a job instance is started. At the exact scheduled time, another instance will run for the same job. The result is the job running twice with one second of difference.

### To Reproduce

Schedule a job like the following:

[code]

### Version

v0.7.0

### Additional context

[2021-03-04 15:47] 36huo opened #133 "[BUG] - Scheduler.Clear() not real remove all jobs"
### Describe the bug

Scheduler.Clear()  not real remove all jobs

### To Reproduce

Steps to reproduce the behavior:

1. use Scheduler.Clear()
2. add new job
3. start immediately
4. the old job run once again

Code
[code]

Output
[code]

If remove all jobs manual ,it is right.
[code]

And suggest add StartAtTime for job
[code]

[2021-03-04 16:12] JohnRoesler commented on #132
@sylviamoss I've tested out quite a few jobs locally running every day at a specific time and I haven't been able to reproduce this issue. Have you seen this happen each time the job runs that it runs twice? Are you able to reproduce it?

[2021-03-04 16:16] JohnRoesler commented on #133
Thank you for pointing out the bug! The clear function neglects to actually stop the job's from running.

[2021-03-04 19:27] sylviamoss commented on #132
@JohnRoesler I figured out that only happens when the application is running in a container.

Testing case:

[code]

Dockerfile:
[code]

This outputs:
[code]

Pretty weird, right? Do you have any idea why this could be happening?

[2021-03-04 19:30] sylviamoss commented on #132
Changing the job scheduling to use `StartAt` fixes the problem.
[code]
output:
[code]
But I still would like to know why the first gets repeated.

[2021-03-04 20:46] JohnRoesler commented on #132
Interesting that it only happens in docker - must be something slightly different with how the time is handled. This issue looks to be that the duration until the run isn't quite right:

[code]

I upped the `log` package level to include microseconds and inserted a bunch of extra log statements. We can see, by my calculation `log.Printf("time now + durationToNextRun: %s", s.time.Now(s.location).Ad

[2021-03-05 01:07] #133 closed

[2021-03-05 02:36] JohnRoesler commented on #133
@36huo mind opening a feature request to make start at accept time.Time?

[2021-03-05 02:37] JohnRoesler commented on #131
Ok, making tags unique across the scheduler shouldn’t be too bad. I’ll look to get that feature in before long.

[2021-03-05 02:41] JohnRoesler commented on #29
I was doing some testing with this and it seemed to be behaving correctly. @Streppel have you looked at this recently?

[2021-03-05 08:59] sylviamoss commented on #132
Seems like in a container the time round is different and `39:00.0002349` is rounded both to `38:59` and `39:00`.
Can I see the same logs when using `StartAt`?
I supposed at the point of running jobs both `At` and `StartAt` time will be in the same format. 🤔 Still a mystery to me!

[2021-03-06 15:33] Streppel commented on #132
Really weird. Just tested

That's weird. I reproduced the test case provided and everything ran fine. Running Ubuntu 20.04.2 LTS here. I'll try to investigate a bit more as well.

![image](https://user-images.githubusercontent.com/2300328/110211942-c36f6e80-7e77-11eb-99c0-76ab7e3a5a4b.png)

[2021-03-06 15:37] Streppel commented on #132
That's weird... Just tested the case you provided and it ran fine here. Will investigate a bit more as well.

![image](https://user-images.githubusercontent.com/2300328/110212130-af783c80-7e78-11eb-97c9-8708e667e1af.png)

[2021-03-06 17:05] Streppel commented on #29
@JohnRoesler as a matter of fact just tested it out and it worked fine! Guess we fixed it along the way... Closing the issue!

[2021-03-06 17:05] #29 closed

[2021-03-08 04:43] JohnRoesler commented on #132
I also just tested it again, and I can't recreate the double run issue.

I made a similar setup but used the scratch docker image

[code]

[code]

[code]

[2021-03-08 04:53] JohnRoesler commented on #131
This is implemented on master - please let me know if that meets your needs.

[2021-03-08 04:53] #131 closed

[2021-03-11 04:15] JohnRoesler commented on #132
Please reopen if you continue to see this issue occurring. For now, we'll chalk it up to something odd in the water that day as I haven't be able to recreate it since.

[2021-03-11 04:15] #132 closed

[2021-03-11 04:26] JohnRoesler commented on #72
@apremalal @mjammer @Streppel  I've been thinking about the design of rescheduling and have some questions as well as my ideas to share:

- The way I am thinking this would work, is that we'd update the scheduler with a new method `UpdateJob(job *Job)`
- This method could then be called like so:

[code]

- I think then that this method would trigger the job to be stopped, and started as if it were

[2021-03-11 19:20] Streppel commented on #72
@JohnRoesler I like this approach, looks very clean and intuitive to me!

[2021-03-16 20:07] JohnRoesler opened #140 "[FEATURE] - Support saving serialized scheduler and reinstating from serialized scheduler"
### Is your feature request related to a problem? Please describe

Source: https://github.com/go-co-op/gocron/discussions/139

As a user of gocron, I would like to be able to save a scheduler when restarting my application.

### Describe the solution you'd like

Expose methods to serialize and de-serialize the scheduler

### Describe alternatives you've considered

- allowing jobs to be saved and

[2021-03-20 17:26] frapa opened #141 "[BUG] - Improve documentation of `.Month()` & related functions"
### Describe the bug

The Documentation is vague on the use of `dayOfTheMonth` in `.Month()` and `.Months()`

### To Reproduce

https://pkg.go.dev/github.com/go-co-op/gocron#Scheduler.Months

### Version

github.com/go-co-op/gocron v1.0.0

### Expected behavior

From a comment in the source code, it seems that setting -1 will run on the last day of the previous month. That's useful but not clear f

[2021-03-21 17:56] JohnRoesler commented on #141
Thanks for the issue! Definitely something we can get cleaned up so the docs are clear.

PRs are always welcome 😀 otherwise I’ll get to this before too long

[2021-03-23 10:53] mikhailbolshakov opened #142 "[BUG] - job isn't executed silently if wrong list of params passed"
### Describe the bug

List of params passed to Do method must correspond to function, otherwise job isn't executed silently

### To Reproduce

The following test reproduces the bug

``
func Test_SpecificTime_WithIncorrectParams(t *testing.T) {

	quit := make(chan bool)

	action := func(s1, s2 string) {
		fmt.Printf("fired: %s, %s", s1, s2)
		quit <- true
	}

	s := gocron.NewScheduler(time.UTC)
	s.

[2021-03-23 19:56] bobmcallan opened #143 "Feature: RunAll by tag"
At program startup, it is common to execute a job then enter the schedule. It would be great to execute a selection of jobs (by tag?) at startup.

`

    scheduler = gocron.NewScheduler(time.UTC)

    scheduler.Every(5).Minutes().SingletonMode().Do(p.users, false)
    scheduler.Every(30).Minutes().SingletonMode().Tag("startup").Do(p.users, true)

    scheduler.StartAsync()

    // Execute @ Startu

[2021-03-24 14:56] JohnRoesler commented on #143
How about we had a function similar to run all with delay? `RunByTagWithDelay(time.Duration)`

[2021-03-24 18:10] patrickascher commented on #141
Hello, just run into the same issue.
I thought with -1 it will be the last day of the month. but actually its not.

If i run it today... (24.03.2021) the next runtime will be 24.04.2021.
`cron.Every(1).Month(-1).Name("XY").Tag("Import").Do(func(){})
`
I would expect, it would be the last day of the month.

Also if you add a more negative number like -10, it will still be the 24.04.2021
`cron.Every

[2021-03-24 18:35] Streppel commented on #141
@patrickascher interesting idea with that, it shouldn't be too hard to implement. Currently, I don't think there's a way to do that, but we'll take a look into that

[2021-03-25 06:32] bobmcallan commented on #143
Yes, RunByTagWithDelay(time.Duration, tag) would work.

[2021-03-25 15:57] JohnRoesler commented on #143
correct - by design all jobs are run once the scheduler is started.

[2021-03-26 08:22] mikhailbolshakov commented on #142
@JohnRoesler
Could you pls create a new tag
thanks

[2021-03-26 15:53] #142 closed

[2021-03-26 15:53] JohnRoesler commented on #142
https://github.com/go-co-op/gocron/releases/tag/v1.1.0 is out

[2021-03-30 03:56] JohnRoesler commented on #72
hey all (@apremalal @mjammer @Streppel) - take a look at the PR #145 when you have a chance and test it out. The syntax is slightly different from my original idea, but I think it's still pretty clean.

[2021-04-02 10:24] DandyDev commented on #28
I would love to see this functionality as well. This library seems somewhat more robust and well maintained than https://github.com/reugn/go-quartz, but I want to be able to specify jobs in a config file, and cron expressions lend themselves really well for that.

Anyone going to work on this? I'm too new to Go to give it a shot sadly.

[2021-04-02 14:13] #143 closed

[2021-04-02 15:17] JohnRoesler commented on #143
@bobmcallan we added support in the form of two new methods:

- RunByTag
- RunByTagWithDelay

Checkout #149 for more details. We'll get it released soon.

[2021-04-02 21:57] Streppel commented on #28
Hey @DandyDev, thank you for the feedback. We're talking about this issue to see who's going to take it, but we have our eyes on it! :)

[2021-04-03 03:50] JohnRoesler commented on #28
It's definitely something we'd like to support! I will have a PR up soon

[2021-04-03 12:15] JohnRoesler commented on #72
This is out in release [v1.2.0](https://github.com/go-co-op/gocron/releases/tag/v1.2.0)

[2021-04-03 12:15] #72 closed

[2021-04-03 12:15] JohnRoesler commented on #143
This is out in release [v1.2.0](https://github.com/go-co-op/gocron/releases/tag/v1.2.0)

[2021-04-06 20:25] JohnRoesler commented on #28
@DandyDev @excxapp @yisany test the master branch if you have a chance. cron support is available now 👍  we've just pulled in robfig's parser and leveraged that.

[2021-04-07 06:41] bobmcallan opened #152 "s.NotAtStart().Every(1).Hours || s.AwaitFirstSchedule()"
To configure an efficient service start-up, can you please either add a function to prevent the job from starting when the scheduler starts. Or, a global setting to not start all jobs when the scheduler starts.

`
s.NotAtStart().Every("5m").Do(func(){ ... })

or

s.AwaitFirstSchedule()

`
Thanks,
Bob

[2021-04-07 14:40] JohnRoesler commented on #152
Hello @bobmcallan 👋

You could currently accomplish this with the [`StartAt()`](https://pkg.go.dev/github.com/go-co-op/gocron#Scheduler.StartAt) method, for example:

[code]

I could see value in the global option you suggest to allow defaulting the scheduler to start the jobs only on their first interval. Thanks for bringing this up.

[2021-04-07 16:54] JohnRoesler commented on #28
This is released in https://github.com/go-co-op/gocron/releases/tag/v1.3.0

[2021-04-07 16:54] #28 closed

[2021-04-07 20:46] zry98 opened #153 "[BUG] - Cron expressions with minute range or hour range won't run"
### Describe the bug

Cron expressions with minute range or hour range won't run, Scheduler.Next() returns "0001-01-01 00:01:00 +0000 UTC"

- `* * * * 1-5` ✔️
- `* * 1-20 * 2-6` ✔️
- `15-30 * * * 1-5` ❌
- `* 20-23  * * * 3-4` ❌

Checked with robfig/cron (with Schedule.Next()), all parsed correctly.

### Version

v1.3.0

[2021-04-07 23:24] JohnRoesler commented on #153
Thanks for reporting! We’ll take a look shortly

[2021-04-08 14:24] #153 closed

[2021-04-09 08:09] jrobin42 commented on #52
Hello, this problem still occurs in my program.
The job looks launched twice **in parallel**, it's quiet rare (but it still occurs sometimes) here is a sample of my code :

[code]

Sometimes, this is my output :
[code]

I think I find a way by updating the call to my scheduler :
[code]
but it does not resolve the real problem.

Thank you !

[2021-04-09 13:34] Streppel commented on #52
@jrobin42 so it happens only sometimes, not always?

[2021-04-12 05:20] zliu74 opened #157 "Update() won't work for singleton mode jobs"
When a job is running in singleton mode, if you call Update(), the job will never run again.

[2021-04-12 09:29] jrobin42 commented on #52
yes, I did not found a pattern to reproduce this bug, it only happens sometimes

[2021-04-13 15:35] JohnRoesler commented on #157
@zliu74 thanks for reporting this! It's an issue with context cancellation. I've got a PR up to fix it 👍

[2021-04-13 15:48] #157 closed

[2021-04-13 18:35] JohnRoesler commented on #52
[v1.4.0](https://github.com/go-co-op/gocron/releases/tag/v1.4.0) is released with a fix. Please let us know if you continue to see this issue occurring.

[2021-04-13 18:35] JohnRoesler commented on #157
[v1.4.0](https://github.com/go-co-op/gocron/releases/tag/v1.4.0) has this fix in it!

[2021-04-15 00:00] JohnRoesler commented on #152
I have a PR coming soon for this feature

[2021-04-22 01:40] JohnRoesler commented on #152
This is in latest release

[2021-04-22 01:40] #152 closed

[2021-04-24 19:04] joaolcaas commented on #127
Hi guys, how are you? Is this issue available still? I would like to crack it up

[2021-04-24 23:11] JohnRoesler commented on #127
@joaolcaas yes, that would be wonderful!

[2021-04-26 21:40] KnBrBz commented on #52
Hi, reproduced in such a way

	cron := "0 0 * * *"
	loc, err := time.LoadLocation("Local")
	if err != nil {
		err = errors.Wrap(err, funcTitle)
		return
	}
	sheduler := gocron.NewScheduler(loc)
	if _, err = sheduler.Cron(cron).Do(r.SetNextWriter); err != nil {
		err = errors.Wrap(err, funcTitle)
		return
	}
	sheduler.StartAsync()

Using for log rotation, to log files were created, instead of one.

[2021-04-27 00:51] Streppel commented on #52
Thanks for the info @KnBrBz. We'll investigate more. This bug specifically happened using "0 0 * * *" cron notation, right?

[2021-04-27 05:07] KnBrBz commented on #52
Yes, for now wil use fix suggested by jrobin42.

Using notation `0 0 * * *` in another project for month, but application is working in docker. Sheduler in it creates two job: `0 0 * * *` and `0 1 * * *`. No such problems so far.

[2021-04-27 19:44] JohnRoesler opened #165 "[BUG] - Weekly schedule > 1 week waits until the next week to start"
### Describe the bug

discovered: https://github.com/go-co-op/gocron/pull/164#issuecomment-827649958

### To Reproduce

Steps to reproduce the behavior:

1.  `s.Every(2).Weeks().Friday()`

### Version

v1.5.0

### Expected behavior

the schedule should start at the next available opportunity to run rather than waiting a week

### Additional context

[2021-04-28 00:53] joaolcaas commented on #165
It would be awful if the `calculateTotalDaysDifference` also checks if the job runCount is less than scheduledWeekday length?

[2021-05-02 16:36] pranav292gpt opened #169 "README: Unable to figure out that Scheduler needs to be started."
The current README gives examples to initialize a new shceduler and schedule simple tasks at various intervals. Going by the README, it is unclear that a scheduler needs to be started either in Async or Blocking fashion. It would be better to provide a full example of running a scheduler to perform simple tasks in the README as well.

(I personally had to look up a third party article of sorts to

[2021-05-03 01:41] JohnRoesler commented on #169
Good call

[2021-05-03 01:41] #169 closed

[2021-05-05 06:04] joseccandido opened #171 "[BUG] - Weekday() starts schedule on next day even when current day is set"
### Describe the bug

While using Weekday(), the schedule starts on the following day even if the current day is set.
eg.: If the current Day is Sunday and Sunday+Monday+Tuesday are set, the first run will be scheduled for Monday.

### To Reproduce

Steps to reproduce the behavior:

1. s.Every(1).Weekday(time.Sunday).Weekday(time.Monday).Weekday(time.Tuesday)
or
1. s.Every(1).Sunday().Monday().Tue

[2021-05-05 06:24] joseccandido commented on #171
Root cause may be the same as #165

[2021-05-05 20:01] joaolcaas commented on #171
@joseccandido  #168 Try to fix #165, maybe it's the same problem

[2021-05-06 08:25] joseccandido opened #172 "[BUG] - calculateMonths() calculating wrong duration"
### Describe the bug

calculateMonths() is returning the wrong duration in the following cases:
1. If job.dayOfTheMonth is < than current date and job.atTime is > the current time.
2. If job.dayOfTheMonth is > than current date and job.atTime is < the current time.

In case 1 the nextRun date gets set to job.dayOfTheMonth+1.
In case 1 the nextRun date gets set to job.dayOfTheMonth-1.

In both case

[2021-05-06 11:45] alexandre-dias-cj opened #174 "[BUG] - Out of sync, multiple executions of same task"
When using a 30s interval scheduler, after a few hours it runs multiple times the same task, per second

Example snippet

[code]

It wasn't expected that the runPartialReindex function was run more than once per 30s interval
I did try with partialIndexer.Every(30).Second() and partialIndexer.Every(30).Seconds() but the described problem is even worse
Not sure if it matters but I'm using go mod.

[2021-05-06 20:01] JohnRoesler commented on #172
Thanks for reporting and making a PR! I'll take a look

[2021-05-06 20:05] JohnRoesler commented on #171
#168 is merged. Let's see if this issue is still occurring.

[2021-05-07 14:33] #172 closed

[2021-05-07 17:02] Streppel commented on #174
Thanks for the detailed report, @alexandre-dias-cj! We will take a look at it!

[2021-05-08 00:02] joseccandido commented on #171
Bug still happens even after the merge. Will try to look into it.

[2021-05-08 01:03] joseccandido commented on #171
Ah, didn't realize the usage changed. Using Week() did the trick.

[2021-05-08 01:08] joseccandido commented on #171
So the correct usage would be: s.Every(1).Week().Sunday().Monday().Tuesday()?
If so, yes, the problem persists.

Also, in case anyone needs this functionality right now. The workaround i've found is to just use StartAt() with yesterdays date,

[2021-05-08 01:40] joaolcaas commented on #171
@joseccandido I'm not sure if this is actually a bug. The jobs when `At()` is no set are running at midnight, so the way it is happening actually is the normal behavior. Maybe you can try to set `At()` on your tests.

[2021-05-08 01:52] joseccandido commented on #171
Ok. In that case it makes sense.

Re: Testing it with `At()`

Current time is 22:00 on Friday

1a. `s.Every(1).Week().Friday().Saturday().Tuesday().At("23:00").Do(task)`
1b. Task gets scheduled for Saturday at 23:00.

2a. `s.Every(1).Week().Friday().Saturday().Tuesday().At("21:00").Do(task)`
2b. Task gets scheduled for Saturday at 21:00.

[2021-05-08 01:55] joaolcaas commented on #171
Yes, I think so

[2021-05-12 02:08] JohnRoesler commented on #171
Thanks so much for hacking at this one. I’m traveling for some time now but will try and look at PRs if you raise them!

[2021-05-13 13:40] JohnRoesler commented on #174
@alexandre-dias-cj how are you running this? local machine, docker, etc.

[2021-05-13 13:44] alexandre-dias-cj commented on #174
Docker, forgot to mention it

[2021-05-26 14:24] #165 closed

[2021-05-26 21:46] marcsantiago opened #180 "[FEATURE] - Run a scheduled a job once in a distributed system"
It would incredibly useful to be able to cron jobs into existing server clusters but only have 1 machine in that cluster run the job. For instance if i had a fleet of AWS ec2s and I wanted my web servers to also run background jobs, I would want only 1 of those servers to run a background job, else all my machines with the same production code would execute the same tasks * N number of boxes.

In

[2021-05-27 14:49] #180 closed

[2021-05-27 14:59] marcsantiago opened #181 "[FEATURE] - Run a scheduled a job once in a distributed system"
### Is your feature request related to a problem? Please describe
Currently If I use this package on any cluster of AWS ec2s, all my machines running production code would also run code in the scheduler. For instance if I need a background go routine to scan data every minute and I have 5 machines deployed. I don't need or want all my machines to scan the same data. It's also not cost effective to

[2021-05-28 00:30] JohnRoesler commented on #181
Definitely something we’re interested in supporting

[2021-05-31 13:08] skinnaj opened #184 "[BUG] - RemoveByTag removes jobs containing substring of a tag"
### Describe the bug

When you have multiple jobs, where each has a tag containing a number for example:

First jobs has the tag: 1
Second job has the tag: 11
Third job has the tag: 21

When using `RemoveByTag("1")` its removing all three jobs because its finding jobs by substring:

findJobsByTag:
`strings.Contains(strings.Join(job.Tags(), " "), tag)`

### Expected behavior

I expect only the firs

[2021-05-31 15:12] JohnRoesler commented on #184
It should not remove tags by substring IMO, but only exact matches. Thanks for opening this issue

[2021-06-02 04:15] #184 closed

[2021-06-02 16:30] JohnRoesler opened #186 "cron method doesn't respect waitforscheduleall func"
I have a job1 that is executed every three seconds and takes 5 seconds to execute.
When the job1 is executed, I will delete job1 from the schedule,
and when finished the job1,
I will re-add it to the schedule.

[code]

I use the seconds function is right,
but the result of Cron is wrong

This is cron
![image](https://user-images.githubusercontent.com/68727360/120179458-31d88880-c23d-11eb-886c-1744

[2021-06-09 23:56] JohnRoesler opened #190 "Update() function doesn't support crontab jobs"
This is my code,
I need to change my job to cronExpression

[code]

But it will show the following error message

![image](https://user-images.githubusercontent.com/68727360/121001476-e898b380-c7bd-11eb-9f46-ced4df41e339.png)

_Originally posted by @Chen840302 in https://github.com/go-co-op/gocron/discussions/188_

[2021-06-10 00:05] #190 closed

[2021-06-10 00:43] #186 closed

[2021-06-10 00:45] JohnRoesler commented on #181
I like the way that this platform (https://benthos.dev/) abstracts different data sources and I think it would be ideal to then add a reasonable interface to gocron that we could then support multiple specific implementations like redis, ec2, etc.

[2021-06-10 00:46] JohnRoesler commented on #19
I think this is reasonably complete now that we have the ability to set the current time with the fake time.

[2021-06-10 00:46] #19 closed

[2021-06-10 11:11] Chen840302 opened #193 "[BUG] - Cannot add a new job after deleting the updated job"
### Describe the bug

Hi~ I am glad to #190 is fixed ,
But after I try to delete the updated job,
it will not be able to do other jobs.

This is my code

[code]

### To Reproduce

Steps to reproduce the behavior:

1. Create a job1
2. Update the job1
3. Remove the job1
4. Create a job2

This is error report.
![image](https://user-images.githubusercontent.com/68727360/121514772-fbf68980-ca1e-11eb-8b

[2021-06-10 14:46] #193 closed

[2021-06-23 21:06] asmaloney commented on #52
I'm also having this problem when I do the following:

[code]

`somefunc` is called twice each time.

[2021-06-23 21:56] JohnRoesler commented on #52
@asmaloney could you share a bigger example of the code? Where are you running this? When I run it outputs once per minute on a Mac

[2021-06-24 00:42] asmaloney commented on #52
Hmmm... yeah, this might be tough. I'm using macOS as well, but running this in a docker container based on `golang:1.16-alpine`.

I've only just started to use gocron, so there isn't any other gocron code executing.

Here's the code with the function:

[code]

It is running once a minute, but "someFunc" is output twice each time.

Not sure if that helps though...

[2021-06-24 01:16] asmaloney commented on #52
My apologies for the noise!

Turns out the thing that was calling `initThis` was being called twice by accident, so I was adding it twice...

User error. 😊

[2021-06-24 18:52] JohnRoesler commented on #52
@asmaloney all good! I've seen and done that before myself 😞  😂

[2021-06-28 09:29] ianaz commented on #181
The original version had `SetLocker` where you were able to provide an implementation to lock and unlock. Is there still something similar?

[2021-06-28 13:36] JohnRoesler commented on #181
@ianaz it never worked properly so we removed it. That’d be a good place to start, adding a locker interface.

[2021-07-02 01:58] andschneider opened #202 "[BUG] - Cron job gets ran on startup"
### Describe the bug

When I start a program with a `cron` job in it, that job gets run even if the time isn't "due". For example, I have a cron job to run at 7 AM (`0 7 * * *`) and every time I run the program the job runs.

This also happens when the job is ahead, for example at 10 PM. (Let's say I'm starting the program at 7 PM.) After trying some random cron times, it seems to be happening no

[2021-07-02 07:35] derkan commented on #181
When in a cluster environment, nodes in cluster will be known. Maybe [consistenthash](https://github.com/golang/groupcache/tree/master/consistenthash) may be usable here to detect which node will run which jobs.

[2021-07-02 23:19] andschneider commented on #202
Did a tiny bit of digging and I believe it was due to this change: https://github.com/go-co-op/gocron/pull/192/files#diff-031a12d8499b1cae1c81ed55ed91b2c7563c4ba3a02139b2f7115c09cf879ab5L960

Is this now the expected behavior?

[2021-07-06 16:13] JohnRoesler commented on #202
Ah, yes the expected behavior for any job is that it starts immediately.

You can disable this behavior with https://pkg.go.dev/github.com/go-co-op/gocron#Scheduler.WaitForSchedule at a per job level or for the whole scheduler with https://pkg.go.dev/github.com/go-co-op/gocron#Scheduler.WaitForScheduleAll

[2021-07-07 03:57] andschneider commented on #202
Gotcha. I totally missed those.

I'm happy to help out if you think this should be added in the documentation somewhere. Personally, I was a bit confused as it's not the expected behavior of a normal cron job.

[2021-07-14 14:24] JohnRoesler commented on #202
@andschneider

I think that it would be more correct as you point out to have Cron not start immediately. That's an easy change.

As for the Every job not starting immediately, that is because you are using an `At()` time. If you did `Every(5).Seconds()` it would start immediately. For cron, we don't know what the actual schedule is, so it has to be a blanket start immediately or don't.

For cron,

[2021-07-15 19:09] andschneider commented on #202
@JohnRoesler Thanks for the information! All clear now.

[2021-07-16 03:58] #202 closed

[2021-07-22 03:47] renxiawang opened #208 "[BUG] - Schedule a job to run at a past time on the same day gets executed immediately"
### Describe the bug

If now is Wednesday at 8:00pm, and I schedule a job to run every **other** Wednesday at 7:30pm, when I starts the scheduler, the job gets executed immediately.

I expected it to start its first execution in 2 week, but it gets executed immediately.

However, if I schedule a job to run every Wednesday at 7:30pm, everything works expected, it won't get executed immediately.

##

[2021-08-06 07:18] aljumaro opened #209 ""Delayed" scheduling vs "Every" scheduling"
Hi,

We have a scheduled task that should run as frequently as possible. Currently our scheduling configuration is:

[code]

The problem we are facing is that we don't actually know if the previous task has already finished when the next execution starts. Every cycle the task has an unknown number of subtask to perform.

The question we have is if there is a way of defining a delayed scheduling be

[2021-08-12 08:42] indranil-elisity opened #210 "[BUG] - Job deletion and addition fails when the job was started with LimitRunsTo(1)."
### Describe the bug

I am adding a job with tag 'oneTimeJob' and using option LimitRunsTo(1). The package documentation says that the job will run only once but will stay on scheduler. However, once the job has run I can neither delete the job nor I can add a new job with same tag. Please see the code below.

### To Reproduce

Steps to reproduce the behavior:

[code]
$ go run gocronWithIo.go
Go l

[2021-08-16 15:15] JohnRoesler commented on #209
There are two options we support today along these lines.

Singleton mode, which will allow only a single instance of the job to run at a time, and it will backup the jobs and continue to run them when the previous one stops. You can set this at the individual job level or the global scheduler level:

- Job level: https://pkg.go.dev/github.com/go-co-op/gocron#Job.SingletonMode
- Scheduler (all job

[2021-08-16 16:41] JohnRoesler commented on #210
@indranil-elisity looks to be a two part problem!

1. The documentation on `LimitRunsTo` was incorrect. The job is removed when it reaches its limit.
2. The remove functions have a bug where the unique tags set at the scheduler are only removed when using `RemoveByTag` which isn't used by the removal that occurs when the limit runs to is reached. I'll open a PR to fix that.

Thanks for reporting!

[2021-08-17 20:40] #210 closed

[2021-08-19 14:06] artemgavrilov commented on #132
Hi, faced the same bug in my environment (MacOS + docker).  After some debugging, I found that `time.AfterFunc` on [this](https://github.com/go-co-op/gocron/blob/master/scheduler.go#L187) line triggers few milliseconds before the expected time. It seems that the root of the problem in golang:

- https://github.com/golang/go/issues/45582
- https://github.com/golang/go/issues/27090

[2021-08-19 14:15] artemgavrilov commented on #52
https://github.com/go-co-op/gocron/issues/132#issuecomment-901945604

Hi, faced the same bug in my environment (MacOS + docker).  After some debugging, I found that `time.AfterFunc` on [this](https://github.com/go-co-op/gocron/blob/master/scheduler.go#L187) line triggers few milliseconds before the expected time. It seems that the root of the problem in golang:

- https://github.com/golang/go/issu

[2021-08-21 12:45] JohnRoesler commented on #52
@artemgavrilov thanks for digging and finding those issues! I’m going to read up because this is a really interesting bug.

[2021-08-23 13:14] tamoyal commented on #52
I am also getting this issue. Something like this:

[code]

Prints "Doing something" twice. I have confirmed the code to schedule only runs once.

[2021-08-23 16:53] JohnRoesler commented on #52
I added a Dockerfile to golang/go#45582 that reproduces the issue - let's see if we can get some traction on that issue as this appears to be related to Go itself and not our library.

[2021-08-27 15:20] JohnRoesler opened #215 "Chore: Update master branch to main"
To follow the new standard. Things that will need to be updated:
- actions workflows
- branch restrictions

[2021-08-28 07:23] arjunmahishi commented on #140
I was working on this a couple of months back. Got really busy. completely lost context now. That's why I unassigned myself. Will try to take a fresh stab at it if I get time.

But feel free to pick it up

[2021-08-30 21:33] emilhakobian opened #223 "[FEATURE] - Execute jobs in a given order, one by one"
### Is your feature request related to a problem? Please describe

I'm trying to execute multiple jobs in a sequence. Two conditions are mandatory:

1. Job should run in a given order
2. Only one job should be executed at a time

### Describe the solution you'd like

Add new mode like "Ordered"  to support sequential executions.

### Additional context

As described in documentation SetMaxConcurre

[2021-08-31 01:45] scottadamsmith commented on #140
Trying to accomplish this in our project as well. Do you think the only fields that need to be serialized on the scheduler are jobs, location, and tagsUnique?

[2021-08-31 02:37] JohnRoesler commented on #140
I’d also include the tags map, and the time timewrapper. Are you looking at implementing here? Another option besides creating a struct with exported fields is to implement the serialize and deserialize methods on our structure, which I think is a more ideal route. I’d be happy to discuss / hack at this with you if you’re interested!

[2021-08-31 13:40] Streppel opened #224 "[FEATURE] - Monthly schedules for ending of month"
### Describe the solution you'd like

We should be able to schedule jobs that will run at the end of each month, as in "last day of each month", "penultimate day of the month", or "antepenultimate day of month", which covers all cases for feb 28th to 31 days months.

Ideas just to get things started:

- `.Months(gocron.MonthlyLastDay)`, (or `.MonthLastDay()`)
- `.Months(gocron.MonthlyPenultimateDa

[2021-08-31 18:51] JohnRoesler commented on #141
closing this in favor of feature request issue

[2021-08-31 18:51] #141 closed

[2021-08-31 19:10] JohnRoesler commented on #223
Hi @emilhakobian - could you help me understand a bit more about your requirements?

- What's the timing expectation here? Are these going to be "overloaded" in that there would be jobs queueing up constantly and you want to make sure they run in the right order?
- Are all the jobs being executed at the same time, hence the need for ordering?
- Could the jobs be collapsed into a single job so that

[2021-08-31 20:20] scottadamsmith opened #225 "[FEATURE] - Is there a way to tell if any job is actively running?"
### Is your feature request related to a problem? Please describe

I want to see if I can wait for any in-progress jobs to complete when detecting a shutdown from the OS. I have been digging through the scheduler and job implementations and haven't seen any way to tell if a Job is actively running.

### Describe the solution you'd like

Some flag or really any mechanism to tell if a job is activel

[2021-09-01 02:48] JohnRoesler commented on #225
Hey @scottadamsmith thanks for opening this request. Right now the only way you could tell would be by having something inside your job function that reports it’s state.

However, I think we could add something around the function invocation by our executor to set a flag or something that notes the job as actively running.

[2021-09-01 03:43] JohnRoesler commented on #225
It might be slightly tricky as the executor doesn’t receive any job details but only the function to run.

[2021-09-01 04:15] scottadamsmith commented on #225
I actually came to that same conclusion. I looked into your code to see how your executor works and found the usage of WaitGroup to be a good solution. I am working on a function that "wraps" a job function with another function that calls the job function and registers the call the WaitGroup. This allows me to be able to wait for all jobs to complete.

The only thing I haven't done yet is ensure

[2021-09-01 13:51] alexandre-dias-cj commented on #174
Sure, we actually had 3 schedulers running, there are 2 different functions which interact with one single data repository.
That repository is incremented or decremented using one 30 scheduler but 24h on 24h we're doing a full-rebuild of that data and we don't want the partial indexer running for obvious reasons.

We did actually ended up rebuilding our service to get rid of the problem.

[2021-09-01 13:51] #174 closed

[2021-09-01 14:45] JohnRoesler commented on #225
Yeah I think a wait group could work. The scheduler stop wont stop in flight jobs but it will stop any that are scheduled and not yet run. I’m going to be afk for a week here but I’d be happy to hack on this when I’m back or review something if you decide to work on it!

Nice my fellow Minnesoten - let’s connect on slack (link in our repo) or LinkedIn (on my git profile)

[2021-09-02 14:43] aljumaro commented on #209
I think singleton mode will work for us.

Thanks.

[2021-09-02 14:43] #209 closed

[2021-09-02 16:57] indranil-elisity opened #227 "[FEATURE] - Need an option for cron job so that job which was supposed to run in the past on the same day, runs immediately."
### Is your feature request related to a problem? Please describe

Let's say the cron expression used to add a job to scheduler is "30 9 * * THU". But the time on which it was added is  10:30AM on Thursday (i.e. the same day). At present the task will run on next Thursday at 9:30AM. The cron expression could also be such  that it contains steps, ranges etc.

### Describe the solution you'd like

I

[2021-09-02 17:02] indranil-elisity commented on #208
Hello, I have requested for an enhancement request which needs this behavior, So if a job is scheduled to run at a past time on the same day it should get executed immediately. I use
" job, err = s1.Cron("16 22 * * THU").Tag("tag1").Do(taskWithParams, 1, "cron job 1 min") " to add the job. Just adding this comment FYI.

[2021-09-06 18:01] denizzengin commented on #128
Hi, i would like undertake it if it is active at present

[2021-09-08 00:43] JohnRoesler commented on #128
Yes please go ahead! @denizzengin

[2021-09-08 16:41] JohnRoesler opened #230 "[BUG] - Scheduling a job and calling get current job before every/cron panics"
### Describe the bug

When scheduling a job, if I call a func that calls `getCurrentJob()` prior to the `newJob()` func being called, a slice index panic occurs.

### To Reproduce

Steps to reproduce the behavior:

[code]

output:
[code]

### Version

v1.7.1

### Expected behavior

the panic should be handled through a slice bounds check and surfaced to the caller

### Additional context

The solu

[2021-09-08 16:43] JohnRoesler opened #231 "Add CI check to keep example_test.go in alphabetical order"
For easy of maintenance I would like to keep the example_test.go alphabetized. Add an automated CI check to perform this test and fail if not in alphabetical order

[2021-09-08 16:48] JohnRoesler commented on #227
The linked PR #229 may not solve your issue for all cases, but will at least provide a way to force the cron job to start immediately and then get scheduled for its next run per the crontab schedule.

This would be a hard feature to implement given we don't how far in the past to look back. Anything on a schedule will have a time in the past it should have run, but if it is going to run soon you l

[2021-09-08 18:48] indranil-elisity commented on #227
Hello JohnRoseler, I really appreciate your help. PR #229 actually breaks my case. So if a job is supposed to start at 10AM and it was added at 9AM then also it is going to start immediately. I thought some more after reading your question about the previous day case. So this enhancement request can have two cases :
            Case1: Say user adds a cron for 14:00 at MONDAY and the program it sta

[2021-09-09 16:31] #128 closed

[2021-09-09 19:17] JohnRoesler commented on #227
The difficulty here is that we don't calculate past run times and only calculate the next run time. There would be a lot of logic additions needed to determine when the previous run should have been and then accept some criteria for determining when to kick off an immediate run of a past job.

Do you have ideas on how to integrate the logic? I'm currently thinking that this sort of logic would nee

[2021-09-09 20:18] indranil-elisity commented on #227
I am trying to use another package github.com/gorhill/cronexpr to calculate the next time and compare that with the current system time. So if current time is 11:02AM Thursday and the cron was supposed to start at 11:00AM (everyday) then nextStarttime should be in future compared to current time. If not then job is getting added before the first cron expiry. Somehow 'Before()' and 'After()' functi

[2021-09-09 23:08] indranil-elisity commented on #227
Is there an API available which can return the next execution time?

[2021-09-10 00:35] JohnRoesler commented on #227
After creating a job you can call https://pkg.go.dev/github.com/go-co-op/gocron#Scheduler.NextRun

example:

[code]

[2021-09-10 20:03] JohnRoesler commented on #225
I tried a couple different ways of doing this with wait groups and channels, but kept running to into issues with race conditions. So, I went with an implementation using atomic ints. Take a look and let me know what you think! https://github.com/go-co-op/gocron/pull/233

[2021-09-11 14:47] scottadamsmith commented on #225
Thanks! I glanced at it briefly on my phone, but plan to look at it more closely on Monday. I can also share what I ended up doing on my end outside of the library itself. It allows me to see if "any" job is running, as opposed to checking if a specific job is running like your change introduces. With my approach, I know nothing about the job that is running, but rather that at least one job is ru

[2021-09-13 15:42] #230 closed

[2021-09-13 16:28] JohnRoesler opened #236 "Set test to use min 1 second to reduce CI pipeline failures due to timing issues in resource constrained docker images"
The tests fail sometimes due to millisecond based timing on some of the tests. I over optimized for local testing and it's causing tests to fail in CI occasionally. The CI pipeline is running in docker with limited resources, so not able to handle quite as precise time as my local machine.

[2021-09-13 16:29] #215 closed

[2021-09-13 16:30] #127 closed

[2021-09-13 19:18] Streppel opened #237 "[BUG] - Scheduler should wait all jobs to finish before returning .Stop()"
### Describe the bug

Scheduler should wait all jobs to finish before returning .Stop()

### To Reproduce

[code]

### Version

v1.8.0

[2021-09-13 19:24] JohnRoesler commented on #237
I see, so the scheduler doesn't wait, but it also doesn't stop that inflight job. If you add another sleep after s.Stop, it will increment to 1.

Good idea though!

[2021-09-13 20:58] #237 closed

[2021-09-13 21:54] Streppel commented on #225
@scottadamsmith even though we have an open PR that adds an IsRunning functionality, could you please check if [this](https://github.com/go-co-op/gocron/issues/237) solves your issue?

[2021-09-13 22:15] scottadamsmith commented on #225
Yeah I think it would eliminate the need for some of my code. I'd be using the proposed "job.IsRunning" feature from the PR to do essentially what this new Stop implementation is doing.

You'll see in my code, I have a "maximum timeout" that we would wait for in-progress jobs to complete. My line of thinking is - what if someone introduced a job that was unreasonably long or hung? With the bug fix

[2021-09-13 22:59] Streppel commented on #225
@scottadamsmith I see your point! Definitely worth bringing it out. I'd just argue that, from a functionality point of view, `.Stop()` intuitively should stop running jobs from rescheduling and wait for inflight jobs to stop as well, which covers over 90% of real world use cases, I believe.

I believe that if someone is afraid of `.Stop()` taking long to return they could always call it in a separ

[2021-09-14 00:46] #231 closed

[2021-09-14 01:58] JohnRoesler commented on #225
Thanks for sharing all the detail @scottadamsmith - I find it really helpful to see how people are actually using the library!

As for the logic...I see the point around long running jobs, and it seems like the responsibility of the caller to not schedule jobs that block forever, or at least know they have very long jobs. But, I could also see it being a nice feature to have the `scheduler.Stop()`

[2021-09-14 01:58] #225 closed

[2021-09-14 19:47] JohnRoesler commented on #140
Looks like you have to implement:
- https://pkg.go.dev/encoding/gob#GobDecoder
- https://pkg.go.dev/encoding/gob#GobEncoder

[2021-09-14 19:53] scottadamsmith commented on #140
For my current situation, being able to wait for running jobs to complete was enough to get me around this requirement. Our jobs are currently at specific times and are also non-critical in the way that if one run was skipped, no big deal. I do think this would be a good feature though. If I can find some time, maybe I'll take a run at it just for the experience and to lend a hand. I'm not 100% wh

[2021-09-16 14:06] lggomez opened #242 "[BUG] - Goroutine leak on singleton mode"
### Describe the bug

The job executor is leaking the goroutines of each job execution when running in singleton mode

### To Reproduce

Steps to reproduce the behavior:

1. Set up a single scheduler with the following configuration:

[code]

By performing a goroutine stacktrace dump I could get a bunch of these goroutines adding up during program execution:

[code]

### Version

v1.6.2, go 1.16.8

[2021-09-16 14:55] JohnRoesler commented on #242
@lggomez thanks for reporting this! I will definitely dig into it soon.

[2021-09-16 15:31] JohnRoesler commented on #242
hey @lggomez if you print out the number of active goroutines i don't see any leaking or piling up.

[code]

This will show that yes, we are using a lot of goroutines, but they are being collected by the runtime and not left open. The goroutine id just continues to increment. You can see the number of goroutines in this case stays at 3. 1 for the scheduler, 1 for the executor and 1 for the single

[2021-09-19 19:05] lggomez commented on #242
Sorry for the delay in the response. The example maybe lacks contexts as it has a 5 minute span and it may seem long for a local test. We've a polling job and our APM monitor shows an evergrowing (although with a slow pace) goroutine count:

![5042ef57-9353-48e4-af9e-e5bb6d91e607](https://user-images.githubusercontent.com/6326271/133939606-3b65cb19-b5c5-4db4-949b-517ca4c7121b.png)

Upon turning on

[2021-09-20 12:14] JohnRoesler commented on #242
What did you use to make that graph? I’d like to recreate the same with a simplistic gocron scheduler. Or if you can recreate with one using a simple task that just prints out a log line.

[2021-09-20 14:17] lggomez commented on #242
The graph comes from NewRelic golang runtime metrics, altough the full goroutine stack dump is done via pprof web handler (using the path /debug/pprof/goroutine?debug=2)

[2021-09-20 18:49] JohnRoesler commented on #242
I don't believe it's an issue with gocron. I just added pprof to my previous example and it never has more than 5 goroutines running:

1. main where scheduler runs from
1. executor
1. job
1. pprof related
1. pprof related

[code]

If you include the HTTP server, which is needed to report pprof as http response vs. a file, then you can see what goroutines are currently running.

[code]

I can see g

[2021-09-21 11:18] lggomez commented on #242
I finally found the cause and the issue can be closed, I tracked down the leak to a seemingly unrelated but existing leak from an sql.Rows instance not being closed from the worker.

It could be worth noting that leaks in goroutines spawned from the worker will propagate to the executor (which is obvious in hindsight) but may be difficult to diagnose in scenarios which involve connection pooling a

[2021-09-21 11:18] #242 closed

[2021-09-21 14:03] JohnRoesler commented on #242
You're welcome! And yes, perhaps some additional commentary to the readme could be added around this issue.

[2021-09-21 15:34] venugopalnaiduch opened #243 "[BUG] - Weekdays scheduler scheduling every day"
Created a scheduler to run schedule on Saturday of 1st, 2nd and 3rd weeks at a particular time, but the scheduler running every day at same time instead of scheduled weekdays.

The below is the cron which we are generating
30 17 1-21 * 6
And when i check the next schedule time its showing as 2021-09-25 17:30:00 instead of 2021-10-02 17:30:00
And if the cron is as below it is scheduling every day
3

[2021-09-21 15:58] JohnRoesler commented on #243
Yes this looks like an issue with your crontab. Take a look at https://crontab.guru/#30_17_1-28_*_6 - it's a good tool for making sure your crontab is doing what you expect it to do.

For this cron it says:

From a quick google search, it doesn't look like cron supports what you're suggesting. You could do https://crontab.guru/#30_17_*_*_6 for every saturday and then within your task, skip if it's

[2021-09-21 15:58] #243 closed

[2021-09-24 17:54] indranil-elisity opened #244 "[BUG] - Invalid cron expression adds a job even though Cron() task returns error."
### Describe the bug

An invalid cron expression adds a job even though it Cron() task returns error. This job can't be removed using a tag. Neither a new job can be added with same tag.

### To Reproduce
[code]
$ go run gocron1.go
Go launched at 2021-09-24 23:20:51.8710708 +0530 IST
Cron job 1 added at 2021-09-24 23:20:51.8726825 +0530 IST
job tag [tag1]
removed successfully
cron expression faile

[2021-09-24 21:23] berkeyvx commented on #129
What about
[code]
split text using `;` delimeter and store inside slice. Iterate over slice and call *ParseTime()* method on each elements in slice.

[2021-09-25 03:46] JohnRoesler commented on #129
I like that design

[2021-09-25 13:05] berkeyvx commented on #129
Hey John,

I can work on this feature. How you guys are deciding which solution you are going to implement?

[2021-09-25 20:52] JohnRoesler commented on #129
Let’s go with the string split. Keeps it with one At() method call. Definitely please work on this feature!

[2021-09-27 16:49] JohnRoesler commented on #244
Hi @indranil-elisity - try running with the latest release. This was fixed in v1.7.0 thanks to your reporting of it!

[2021-09-30 03:04] berkeyvx commented on #129
Hey @JohnRoesler ,

I have a question about that feature. Supporting multiple times in At() is trickier than i thought. After creating jobs in scheduler, i need to set their job functions too. It is done inside `Do(...)` method. Modifying only `At` method is not enough in this case. `Do` method must find all jobs that added during the `At` method and assign the function to the jobs. Is modifying b

[2021-09-30 03:24] JohnRoesler commented on #129
Hey @berkeyvx I am not sure I understand how you were thinking of implementing it, but I was thinking you would change the `Job.atTime` from a `time.Duration` to a slice of `time.Duration` on the Job struct. It will make the selection of the time to run the job at more complicated, but would only be allowed for Daily, Weekly and Monthly schedules. When picking the next time to run, we'd have to fi

[2021-09-30 03:26] #244 closed

[2021-09-30 03:26] #227 closed

[2021-09-30 03:28] JohnRoesler commented on #181
@derkan that is an interesting idea. Perhaps we could introduce some sort of distributed provider that could have different implementations. I was thinking something along the lines of a redis cache as a locker for jobs - [example](https://kylewbanks.com/blog/distributed-locks-using-golang-and-redis#:~:text=Distributed%20locks%20are%20a%20means,the%20resource%20at%20a%20time.)

[2021-09-30 04:17] berkeyvx commented on #129
Your solution is very different than what i thought.

I was going to create a new job for each timeline("02:00;04:00;06:00", using this string, 3 new jobs will be added to scheduler ). With this approach, instead of calculating next run using linked list you mentioned, scheduler will decide when to run next job. This approach will create a duplicate tasks but it saves from implementing complex nex

[2021-10-29 18:41] JohnRoesler commented on #60
@vojtfa135 what's occurring that isn't expected? Jobs do start immediately by default, except for Cron

[2021-11-01 16:03] JohnRoesler opened #251 "[BUG] - Makefile commands are out of date"
### Describe the bug

### To Reproduce

Steps to reproduce the behavior:

1. A
1. B
1. C

### Version

### Expected behavior

### Additional context

[2021-11-12 13:55] vaughany opened #254 "[FEATURE] - .Midday()"
### Is your feature request related to a problem? Please describe

No problem, just a (frivolous) enhancement: `.Midday()` - scheduling something to happen at midday.

### Describe the solution you'd like

Currently I have to write something like `s.Cron("0 12 * * *").Do(...)` to make something happen daily at midday (or
`s.Cron("0 12 * * 1-5").Do(...)` for midday on weekdays).

It would be much n

[2021-11-12 22:20] JohnRoesler commented on #254
I would welcome this feature. I agree it’s a nice to have but it does flow with the syntax we have going here.

[2021-11-12 22:20] #224 closed

[2021-11-15 08:46] AlexanderSutul commented on #254
@JohnRoesler  Hey! I'd do this. Could you assign it on me?

[2021-11-16 16:29] JohnRoesler commented on #254
Done! Ty @AlexanderSutul I’ll keep an eye out for the PR

[2021-11-18 16:23] iangregsondev opened #259 "Great Library! - Does it support avoiding creating schedules that overlap ?"
Hi,

Does anybody know if supports something that tells me if a schedule overlaps an already existing schedule?

I would like to create the schedules in a DB, I am using GORM.

I want to validate in code that avoids a duplicate OR overlapping schedule.

For example, if a schedule runs One a week on Friday for 4 hours starting at 1pm.

If another schedule is created to start for 1 hour on Monday at

[2021-11-20 15:10] JohnRoesler commented on #259
Hi @iangregsondev

There isn’t support for this case exactly where you’re suggesting blocking overlapping schedules from being added.

Could you share some additional details on the use case so perhaps we can suggest how best to consider handling it either in your code or potentially a feature request?

We do support limiting concurrently running jobs if you were ok allowing schedules to overlap b

[2021-11-20 15:20] iangregsondev commented on #259
hi @JohnRoesler , thanks for the reply. Sure, let me give you a rundown.

I have a service (external daemon) that needs to run. I have already implemented the manually way - start and stop - works great.

So I wanted to use the schedule.. For example.

1. Needs to be able to start at a specific time and "END" at a specific time - not sure if the end is implemented here either ?

2. A person can cr

[2021-11-20 15:22] iangregsondev commented on #259
I support the support for a TTR (time to run), that's what I was meaning by "END"

[2021-11-22 11:21] AlexandrosMelissas opened #260 "[FEATURE] - Set job delay without running it immediately"
### Is your feature request related to a problem? Please describe

I want to set a delay between each job without having to run it immediately with either runAllWithDelay or runByTagWithDelay.

### Describe the solution you'd like

A clear solution would be to be able to set a delay for each job individually

For example:
[code]

### Describe alternatives you've considered
Add scheduleByTagWithDel

[2021-11-28 00:06] JohnRoesler commented on #259
Hi @iangregsondev interesting use case! This isn't supported today, but natively Cron can do things like run between periods. However, there is no way to lookup what the scheduled periods would be through gocron.

This would take some consideration for how it could be implemented. What I'm thinking about that you'd need:
- a method to report times between which the job is scheduled, for example `G

[2021-11-28 00:08] JohnRoesler commented on #260
Hi @AlexandrosMelissas in your example `s.Every(1).Day().At("05:00").Delay(50 * time.Seconds).Tag("tag").Do(task)` what's the desired outcome? That the job run each day at `"05:00:50"`? If so, that can be done already https://pkg.go.dev/github.com/go-co-op/gocron#Scheduler.At

If not, please help me understand how this delay feature would work so that I may better assist you.

Cheers!

[2021-12-02 15:37] okridgway opened #262 "[BUG] - Task not being called"
### Describe the bug

I've written a simple program but can't for the life of me figure out why it isn't executing the task function.
### To Reproduce
First I create a new scheduler:
[code]
Then I specify how often the task should occur (every 10 seconds):
[code]
Finally, I start the task with:
[code]
But the task function (previously defined to print "Task is being performed" never executes. A pl

[2021-12-02 19:28] JohnRoesler commented on #262
Hi @okridgway

Running the playground link you provided I see it's going to always evaluate true as the scheduler `s` is not nil and it logs fatal outputting the memory addresses of the scheduler struct. I also don't see that the scheduler is being started.

Try this:

[code]

It timed out for me in the playground, but runs locally just fine.

[2021-12-02 22:00] JohnRoesler commented on #262
When I run the playground link you included I get the following:

[code]

it looks to be exiting after the check if the scheduler is not nil, which should always be true.

[2021-12-02 22:00] #262 closed

[2021-12-03 04:17] okridgway commented on #262
Ok, I've got it working now (thank you!) but don't quite understand why `s.Every(10).Do(task)` has to be set to a variable in order for it to work, as the primary example on the main README suggests that it doesn't need to be set to a variable. Have things just changed? Or am I missing something else?

[2021-12-04 01:16] JohnRoesler commented on #262
Can you paste the code you're running where you're seeing that have to set it to a variable? The README is correct.

For example, this works for me:

[code]

[2021-12-12 02:37] frenos opened #269 "[BUG] - executor nil pointer dereference running jobs"
### Describe the bug

Trying out the lib, I just can't get it work at all. Even using the most basic example it crashes at this line https://github.com/go-co-op/gocron/blob/c3be44d54fb58382559e16160de33ab222916ac4/executor.go#L81
`runState` seems to be nil.

### To Reproduce

Steps to reproduce the behavior:

I try to run the following example:
[code]

### Version

`go 1.17.4`
`github.com/go-co-op

[2021-12-13 02:45] JohnRoesler commented on #269
hey @frenos thanks for bringing this up!

So, the reason you're having an issue is that you're not calling the `Every()` function to set the interval (seconds, minutes, etc.)

Something like: `scheduler.Every("5s").StartAt(time.Now().Add(time.Second * 5)).Do(func() { println("hello") })`

I am raising a PR to catch that nil pointer issue and returning an error. Making sure to check errors on the j

[2021-12-13 02:59] JohnRoesler commented on #269
It's also worth noting that without the Every() interval being set you'll get the odd behavior of the job being run as fast as your compute can handle over and over...

[2021-12-13 03:06] #269 closed

[2021-12-13 11:09] frenos commented on #269
Thank you for helping me out. While testing how to integrate this into my app I switched between cron and the fluent api. When trying to distill a minimal example I must have lost the `Every` along the way :). When calling it everything works fine.

[2021-12-15 22:25] JohnRoesler opened #274 "[FEATURE] - Run a job every first Tuesday of the month"
### Is your feature request related to a problem? Please describe

### Describe the solution you'd like

A job should be able to be run every 1st, 2nd, 3rd, 4th, etc. day of the week of the month. For example:

[code]

### Describe alternatives you've considered

### Additional context

Started with discussion: https://github.com/go-co-op/gocron/discussions/273

[2022-01-18 09:26] sharanuainapur opened #278 "[BUG] - Cron expressions are not supporting to run second Monday of the month"
### Describe the bug

Cron expressions are not functioning as expected. i.e **"0 0 0 * * 1#2**" this should work  for seond monday of month. But its saying invalid expression.

Also Cron expression not supporting year configuration.

### To Reproduce

Steps to reproduce the behavior:

1. A
1. B
1. C

### Version

v1.11.0

### Expected behavior

cron expression should work for configuration ("**0 0

[2022-01-18 12:41] JohnRoesler commented on #278
Hi @sharanuainapur could you share with me where you are seeing that `#` is a valid cron symbol? Everything I have read says it is not. I tried putting your provided cron expression in here https://crontab.guru/# and it confirms invalid expression.

There is already an open issue to support running on the first, second, etc. day of a week of a month -> https://github.com/go-co-op/gocron/issues/274

[2022-01-18 19:59] #278 closed

[2022-01-19 15:25] ThePsina opened #279 "[BUG] - panics caused by calling methods outside of job chains should be caught / handled"
[code]

this panics, but should work

[code]

this should panic, but it works

explain pls

[2022-01-19 15:26] ThePsina commented on #279
panic: runtime error: invalid memory address or nil pointer dereference

[2022-01-19 19:36] JohnRoesler commented on #279
The call to `.SingletonMode()` should be in a job chain vs. applied on the scheduler overall.

I don't think it's super clear in our documentation and the code isn't catching this well, so something that needs fixing here.

The first example you posted works like this:

[code]

[2022-01-20 09:54] ThePsina commented on #279
yes, it works. I think that should fixed, because we spent a day to solve this problem)
thx for answer

[2022-01-24 13:39] AlexanderSutul commented on #254
@JohnRoesler Hey! Sorry for a long delay. I was waiting my new laptop.
There is a PR https://github.com/go-co-op/gocron/pull/281

[2022-01-24 15:42] JohnRoesler commented on #254
Thanks for coming back to it. Merged!

[2022-01-24 15:42] #254 closed

[2022-01-25 02:09] roninro opened #282 "[BUG] - panic: runtime error: integer divide by zero"
[code]

this panic

[code]

[2022-01-25 16:51] flevanti opened #283 "[FEATURE] - Passing some job/scheduled time metadata to the function called."
### Is your feature request related to a problem? Please describe

_Not a problem but a nice to have._
Would it be possible to pass some information to the function called like the scheduled time?
In high frequency scheduled tasks (let's say every 3 minutes with unknown start time) it could be nice to know the scheduled time of the current run.

### Describe the solution you'd like
Somehow we need

[2022-01-27 07:39] sharanuainapur opened #284 "[BUG] - Security vulnerabilities CVE-2019-9705, CVE-2019-9704, CVE-2017-9525, CVE-2019-9705, CVE-2019-9704"
### Security Vulnerabilities from go.mod:github.com/robfig/cron/v3/3.0.1

Since I am not able to post Security Vulnerabilities, I have created as BUG.

We are using https://github.com/go-co-op/gocron package library. Since it uses 'go.mod:github.com/robfig/cron/v3/3.0.1' package internally our client found below security Vulnerabilities.

Please advise me how can I proceed with these.

https://nvd

[2022-01-27 22:58] AlexanderSutul commented on #274
@JohnRoesler Hey! Could you assign it on me? I'll have time to make this on weekend.

[2022-01-27 23:01] AlexanderSutul commented on #282
@JohnRoesler I'd like to figure out what is going on here. Could you assign it to me?

[2022-01-31 11:08] sharanuainapur opened #285 "[BUG] - Not supporting year configuration using cron expression"
### Not supporting year configuration using cron expression

https://crontab.cronhub.io/
      0 0 0 25 12 * 2022 - At 12:00 AM, on day 25 of the month, only in December, only in 2022
https://cronjob.xyz/
https://www.easycron.com/faq/What-cron-expression-does-easycron-support
    0 2 25 12 * 2023 - At 12:00 AM, on day 25 of the month, only in December, only in 2023

according to many portal, there

[2022-02-01 05:58] sharanuainapur commented on #285
Thanks for quick response John.

We can do with LimitRunsTo . but for future (2023, 2024) we can not achieve with LimitRunsTo.

one time schedule(any future time) configuration is the key ask from our client.

Thanks

[2022-02-05 21:14] defc0n commented on #283
In my case, I need the task function to know the time the job of the task was scheduled at (`ScheduledTime()`) and when its next run will be (`NextRun()`). It seems my current attempt at getting this information from the job within the task handler function is subject to race conditions, though.

[2022-02-08 06:56] LCTDDL opened #286 "[BUG] - 设置 SingletonMode 后发生painc"
// painc
package main

import (
	"fmt"
	"github.com/go-co-op/gocron"
	"time"
)

var task = func() {
	fmt.Println(time.Now())
}

func main() {
	fmt.Println("Hello Work")
	s := gocron.NewScheduler(time.UTC)

        //  //  //  //  //  //  //  //
	s.SingletonMode()  //

	job, _ := s.Every("3s").Do(task)  // is painc
        //job, _ := s.Every(3).Second().Do(task)  // no painc

	s.StartAsync()

	fmt

[2022-02-08 06:56] LCTDDL opened #287 "[BUG] - Please add descriptive title"
// painc
package main

import (
	"fmt"
	"github.com/go-co-op/gocron"
	"time"
)

var task = func() {
	fmt.Println(time.Now())
}

func main() {
	fmt.Println("Hello Work")
	s := gocron.NewScheduler(time.UTC)

        //  //  //  //  //  //  //  //
	s.SingletonMode()  //

	job, _ := s.Every("3s").Do(task)  // is painc
        //job, _ := s.Every(3).Second().Do(task)  // no painc

	s.StartAsync()

	fmt

[2022-02-08 07:00] #287 closed

[2022-02-08 07:01] LCTDDL commented on #287
重复

[2022-02-08 15:38] JohnRoesler commented on #286
duplicate of https://github.com/go-co-op/gocron/issues/279#issuecomment-1016803434

[2022-02-08 15:38] #286 closed

[2022-02-10 17:55] #285 closed

[2022-02-10 17:57] JohnRoesler commented on #284
I would be happen to review/approve a PR that resolved these issues. If they're actually related to the robfig/cron library then please open a PR there to resolve.

[2022-02-11 11:49] mrqiwi opened #290 "[BUG] - method RemoveByTags() doesnt work"
### Describe the bug

RemoveByTags() doesnt remove a few jobs

### To Reproduce

Steps to reproduce the behavior:

1. add a few jobs:
    cron.Every(1).Minute().Tag("1").Do(func)
    cron.Every(1).Minute().Tag("2").Do(func)
2. try to remove all jobs by tag:
    cron.RemoveByTags("1", "2")
3. "error": "no jobs found with given tag"

### Version

github.com/go-co-op/gocron v1.11.0

### Expected beha

[2022-02-11 16:04] JohnRoesler commented on #290
Hi @mrqiwi

The function is working as designed per the function description:

[code]

I can see how that would be confusing and that you'd expect a job that matched any of the tags not all of the tags would be removed.

For this scenario, you'd have to call `RemoveByTag` twice, once with each tag.

I think it could be worth expanding the functionality of the RemoveByTags func to accept a match cr

[2022-02-12 16:44] defc0n commented on #283
Perhaps `DoWithInfo()` or something.

[2022-02-13 19:27] AlexanderSutul commented on #274
Hey! Sorry. Was very busy at work, going to finish this week.

[2022-02-14 09:34] mrqiwi commented on #290
function RemoveByTagsAny - is a good idea =)

[2022-02-14 15:47] #290 closed

[2022-02-16 09:41] xwjdsh opened #294 "[BUG] - panic: runtime error: integer divide by zero"
Same as #282, another case.
[code]
[code]

[2022-02-16 17:40] #294 closed

[2022-02-16 17:59] #282 closed

[2022-02-16 19:32] flevanti commented on #283
This is great, thanks!

it would help in general, in my specific case given the frequency of some triggered jobs (tens every second) it could be hard to reconcile the triggered job with the received message in the channel.

I'm happy with the exposed the scheduler.findJobsbyTag() method personally.

PS just to give all this a bit of context ..... I am trying to determine the exact time a triggered

[2022-02-16 20:09] JohnRoesler commented on #283
@flevanti I am fine with the issue being closed.

@defc0n if you'd like to open a new feature request for the DoWithInfo we can sketch out more details of what that would like there.

[2022-02-16 20:09] #283 closed

[2022-02-18 03:45] defc0n opened #299 "[FEATURE] - Add new DoWithJob() function"
### Is your feature request related to a problem? Please describe

I have a use case where, inside the `Do()` task function, I need to know when the next scheduled job will be for the job the task is running on. Specifically (and outside the scope of gocron) because I want to set an appropriate TTL value for an MQ message being created for the job/task at hand so that it will automatically expire

[2022-02-19 00:02] gmonk opened #300 "time increments ?"
Is it possible to schedule a task every 15 minutes within the hour for example 12:00,12:15,12:30,12:45,1:00...etc   I have the need to run tasks at those times not just every 15 minutes from when I started the task.

Thanks

[2022-02-19 03:05] gmonk commented on #300
Pefect.. Thank you

[2022-02-19 03:05] #300 closed

[2022-02-19 13:53] AlexanderSutul commented on #274
@JohnRoesler  Hey! Sorry, this weekend is full home stuff.
If there is some more time till next release day, you can leave this issue assigned to me or assign it to someone else.

[2022-02-21 00:22] jpastorm opened #301 "[FEATURE] - Please how can I see what schedules are running?"
I would like to know if there is a way to see its characteristics, such as tag and the time in which they will be executed

[2022-02-21 15:23] JohnRoesler commented on #301
There isn't a single method to get details about all the jobs, but you can get info about each job. For example:

[code]

Docs:
- https://pkg.go.dev/github.com/go-co-op/gocron#Job.IsRunning
- https://pkg.go.dev/github.com/go-co-op/gocron#Job.NextRun
- https://pkg.go.dev/github.com/go-co-op/gocron#Job.Tags

[2022-02-22 21:23] #129 closed

[2022-02-22 21:31] #301 closed

[2022-02-28 22:43] spatocode opened #305 "[FEATURE] - Run job at random interval"
### Is your feature request related to a problem? Please describe

### Describe the solution you'd like

A job should be able to be run at random interval. I'm not sure the best way to achieve this but, we can do this by changing ```.Every()``` to a variadic function. For example:

scheduler.Every(1, 3, 5, 2).Hour().Do(func() {})
This randomly select any of the int arg.

OR

scheduler.Random(3, 1)

[2022-03-01 14:59] JohnRoesler commented on #305
This should be done by adding a func Random as you propose. I would have it accept two ints for the range, min, max. Then during each scheduling of the job it would have to check if it's random and set a new random interval value from the range for the next run. I would also force it to round to the nearest whole number and make the range inclusive. So if it was 1, 5 hours, then the job would run

[2022-03-02 12:25] spatocode commented on #305
@JohnRoesler Yea, that makes sense. Could you assign the issue to me so i could work on it?

[2022-03-06 05:45] #236 closed

[2022-03-06 05:46] JohnRoesler commented on #223
Closing due to inactivity. Please reopen if there is something you'd like to discuss on this topic!

[2022-03-06 05:46] #223 closed

[2022-03-06 05:53] JohnRoesler commented on #279
This bug has been resolved

[2022-03-06 05:53] #279 closed

[2022-03-06 05:59] JohnRoesler commented on #208
This looks to be resolved in the latest release!

[2022-03-06 05:59] #208 closed

[2022-03-06 05:59] #284 closed

[2022-03-06 13:58] YakDa opened #308 "[BUG] - Every() function will create new job when input is integer in update mode"
https://github.com/go-co-op/gocron/blob/20ce0b90de2ab4576cdaa79574ded5fb3d83d8aa/scheduler.go#L493
If it's update job or created job, why still create new job here? This will cause bug when the input of Every() function is an integer

For example, below code will give an exception because if it cannot find the job function in the scheduler jobs because of this bug.
[code]

[2022-03-07 15:24] JohnRoesler commented on #308
@YakDa thank you for reporting! Something is certainly not working right. I will have time in the coming weeks to dig into this.

[2022-03-08 19:05] #274 closed

[2022-03-11 00:02] saul-data opened #312 "Set timezone per job"
We have a platform where we are setting different tasks in different timezones. A team in say London could be setting recurring tasks while a team in New York could be setting recurring tasks.

I may have missed this but the timezone looks like it is set at scheduler level and not job level.

Would this be possible and if not, would be great to request as a feature.

[2022-03-11 07:17] saul-data commented on #312
Would this be a plausible solution to this? By creating a map and spinning up multiple schedulers per timezone. Would I need to be concerned about any performance?

[code]

[2022-03-11 09:55] saul-data opened #313 "Adding schedules from a database in a loop causes the last record to be adding multiple times"
I keep all my schedules in a database. I am pulling the records off and loading them into the scheduler. The problem is the scheduler seems to be adding the schedules but only keeps the latest record values.

Records look as follows:
<img width="795" alt="image" src="https://user-images.githubusercontent.com/63714857/157844221-6ce55143-a5e5-40fa-b368-c070a0e7b7d0.png">

Here is the code:
[code]

T

[2022-03-11 10:29] saul-data commented on #313
I think I have worked it out - would be good to show how parameters get passed in documentation.

[code]

[2022-03-11 16:13] JohnRoesler commented on #313
@saul-data agreed on adding more documentation! The `Do` example should have one and I just added it 👍

[2022-03-11 16:13] #313 closed

[2022-03-11 16:14] #308 closed

[2022-03-11 16:18] saul-data commented on #312
hi there @JohnRoesler, I have been testing it out with the code above and seems to work well. Its not battle tested but I am going to assume that even if there are say 50 timezones, it would scale OK.

[2022-03-11 23:55] saul-data commented on #312
@JohnRoesler  - Something is not working with this setup, it seems that the scheduler is getting mixed up somehow. I will try to investigate more. The uuid in the logs below should be different. The count per timezone looks correct. I am updating the scheduler. It is randomly mixing up the schedule somehow.

Removing from schedule and then adding the updated schedule back:
[code]

[code]

[code]

[2022-03-12 01:17] saul-data opened #314 "Existing schedules are being overwritten when removed by tag"
I found a bug where schedules are being overwritten when new ones are updated using remove by tag.

I wrote this repo which reproduces the problem - follow the readme file
https://github.com/dataplane-app/gocron-example

Steps:
1. load some schedules
2. Add a new schedule
3. Update the new schedule by removing by tag and adding again
4. Perform this update twice

See the logs below - Europe/London

[2022-03-14 09:00] starryrbs commented on #314
You can try the following code：
[code]

=>

[code]

[2022-03-14 22:33] #312 closed

[2022-03-20 19:41] Tochemey opened #315 "[FEATURE] - Job event listener"
Thanks for the great library. I would like to suggest to have some kind of events listeners on Job that can help hook into to them to track information related to a job.

[2022-03-23 21:49] AlexanderSutul commented on #315
@Tochemey Hey! Could you, please, describe a feature you suggest in more detailed way. Maybe I'd like to implement this in that library.

[2022-03-24 03:00] vaxilicaihouxian opened #317 "[FEATURE] - Add Prometheus Metrics For Job"
We can add prometheus metrics for job execution.Then outside monitor system can use these metrics to track jobs.
Maybe I can send a pr.

[2022-03-24 12:16] JohnRoesler commented on #317
I think having optionally enabled prometheus metrics could be a nice a feature to add.

[2022-03-24 13:26] vaxilicaihouxian commented on #317
metrics collector (counter,summary...)should always track job's state.
metrics exporter could be a function like `gocron.MetricsServe(ListenPort,Path)`

[2022-03-24 13:47] JohnRoesler commented on #317
Yeah. It'd be nice to make the metrics an interface so we can implement with prometheus now and then later it could be implemented with influx and others.

[2022-03-28 10:11] wolfgang-braun opened #318 "[BUG] - switching daylight saving time doesn't work"
# Describe the bug

Task gets executed an hour too late. Local time / location is correctly set.

# To Reproduce

[code]

Output:

`2022/03/28 10:00:00 - logging local time: 2022-03-28 10:00:00`

# Expected behavior

`2022/03/28 09:00:00 - logging local time: 2022-03-28 09:00:00`

# Version

`github.com/go-co-op/gocron v1.13.0`

# Other

- go 1.17
- Docker container has been restarted after time c

[2022-03-28 11:13] JohnRoesler commented on #318
hey @wolfgang-braun thanks for reporting. An hour sounds a lot like a daylight time issue. Does Europe/Berlin use daylight time?

[2022-03-28 11:34] wolfgang-braun commented on #318
Hi @JohnRoesler, yes it does. The switch was on Sunday. Using the former maintainers package a container restart did the trick.
I now switched to go 1.18 and the latest go alpine docker image and will check whether the issue persists.

Furthermore I can't reproduce it using [playground](https://go.dev/play/p/5-WO-0YSakX)

[code]

[code]

This behavior is actually expected: `.At("00:00:05")` prints

[2022-03-29 00:52] zerosoul13 opened #319 "[BUG] - Jobs drifting between execution"
### Describe the bug

I'm trying to execute a set of various scripts at a set interval. I found that at times, jobs seem to execute at odd intervals. At first, I though the execution time of each of them would be the root cause but this was not the case. Execution takes less that 1 second.

### To Reproduce

Steps to reproduce the behavior:

1. Create a new scheduler
2. Register Jobs
3. Start sche

[2022-03-29 14:55] JohnRoesler commented on #319
@zerosoul13 looking into this some, I completely agree there is currently some lag between jobs that can cause a job to occur slightly later than expected. Definitely something we should figure out how to handle better. It's tricky because what's causing the lag is the small amount of compute time between calculating when to run the job next and then running to that time. One idea, is if we had so

[2022-04-01 18:57] vituchon opened #320 "Every's Function argument's data type doesn't admit uint and uint64"
Hi all, how you doing guys? (This is actually a polite gretting, you may ask me as well how I Doing, won't bother me at all!)

* I use [Every](https://github.com/go-co-op/gocron/blob/b96aa939e79b1b27af6928cf1ec25c813dafd8b8/scheduler.go#L482) function like this in my code `scheduler.Every(uint64(value)).Seconds().Do(whatever)`, it worked until I "upgrade" the library... then it stop working sudden

[2022-04-04 18:08] vituchon commented on #320
Thanks for the warm and nice reply!

Things like this happens, is part of the evolution... i mean, sometimes, with a little help of irresponsible clients like one, we retro-break contracts and things.

Of course we continue to use the library, it would take a very long time for our team to work a nice library like this one.

Have good week!

[2022-04-04 18:32] #320 closed

[2022-04-06 04:21] roccia opened #321 "Can not set scheduler location correctly"
I'm tring to run job everyday at specific time,
<img width="836" alt="image" src="https://user-images.githubusercontent.com/5943684/161900192-ae9e543f-a783-458b-bae6-ecc3128304d2.png">
but `job.NextRun()` return a invalid date,
then I tried more simple job, do every 2h using UTC，netx run return  0001-01-01 00:00:00 +0000 UTC,
<img width="849" alt="image" src="https://user-images.githubusercontent.

[2022-04-06 05:16] roccia commented on #321
ok ... I should print next run after start the job, ignore this issue

[2022-04-06 05:16] #321 closed

[2022-04-08 20:36] nandra opened #322 "[BUG] - Multiple times not working"
### Describe the bug

With this test code:

[code]

I get call only on first time occurrence not others (see log):
[code]

### Version

latest master: b96aa939e79b1b27af6928cf1ec25c813dafd8b8

### Expected behavior

I should see printed on in all times and off in all times.

[2022-04-09 19:39] Tochemey commented on #315
@AlexanderSutul the features I am asking for are hooks that we can implement or add to handle some events once a job is running. The events for instance are:

- When a job has started event hook
- When a job has ended event hook
- When a job is in terminal state

I hope this make sense.

[2022-04-09 22:36] AlexanderSutul commented on #315
I got it. But what is `terminal state`. Is that state when job only registered but not run yet? Or something different?

[2022-04-21 07:18] amanasmuei commented on #314
i got the same error as mentioned by @saul-data

still got the same issue

[2022-04-26 13:41] #299 closed

[2022-04-26 13:41] #251 closed

[2022-04-26 14:25] xccatana opened #325 "[BUG] - Script execute immediately and ignore cron expression"
### Describe the bug

If we provide parameters for a task that is called with `s.Cron().Do(task(params))` it makes the cronjob to run at the beginning of the program and once again when the cronjob meet the expression.
If we don't provide parameters for `s.Cron().Do(task)` it is only executed when the cronjob meet the expression

### To Reproduce

Steps to reproduce the behavior:

[code]

### Vers

[2022-04-27 06:07] reinkrul opened #326 "[FEATURE] - Add "lastRunFinished" counter which is increased after the job has finished"
### Is your feature request related to a problem? Please describe

When using `RunAll()` in unit tests to assert behavior of a some scheduled logic, there's no definite way to determine whether the jobs (or all jobs) have actually run. There's `Job.rounCount` but that is increased when the run is scheduled for execution, not after the job has actually finished. This leads to buggy test code which

[2022-04-27 18:54] Tochemey commented on #315
@AlexanderSutul Terminal state means the job is not running or failed. Yeah I understand that panic recovery can help handle that though

[2022-04-28 12:45] cangkuren commented on #322
I also encountered this problem, are there any substitutes?

[2022-04-30 12:46] AlexanderSutul commented on #315
@JohnRoesler Hey! Are you ok with this feature?
@Tochemey Ok, I've got it. I'll try to do this on this or next week, if @JohnRoesler will give an approval 😊  Have a good weekend 😊

[2022-04-30 15:49] JohnRoesler commented on #315
sure @AlexanderSutul

[2022-05-04 12:43] arigon opened #327 "Run or don't run a job between a period"
Hello

is it possible to run a job between a period or don't run it between a period?
For example I want to run a job every 15 minutes but only from 07:00 a.m. to 05:00 a.m. the following day (2 hours stop time).

best
Alex

[2022-05-04 14:19] JohnRoesler commented on #327
You should be able to do that with a cron expression -> https://crontab.guru/#*/15_0-5,7-23_*_*_*

And that would be `scheduler.Cron("*/15 0-5,7-23 * * *").Do(task)`

[2022-05-04 14:25] arigon commented on #327
Thank you! This is exactly what I was looking for.

[2022-05-04 14:25] #327 closed

[2022-05-08 10:11] AlexanderSutul commented on #315
Hey guys @JohnRoesler  @Tochemey!
I've created a [PR](https://github.com/go-co-op/gocron/pull/328) for this feature but with some constrains.
I didn't add the terminal handler because I'm not sure where it should be called in job life cycle. Could you review this. If you have an idea about `terminal` callback, please, let me know if you know how to add it to the codebase. Thanks and have a good we

[2022-05-24 07:50] pkuashi opened #332 "[FEATURE] - no mechanism to handle panic in jobs"
### Is your feature request related to a problem? Please describe

See code below, currenlty gocron does not capture the panic in child job and crash

package main

import (
	"fmt"
	"time"

	"github.com/go-co-op/gocron"
)

var task = func() {
	fmt.Println("Task is started!")
	panic("a problem")
}

func main() {
	s := gocron.NewScheduler(time.UTC)
	s.Every(1).Second().Do(task)
	s.StartAsync()
	time

[2022-05-25 08:19] aibotsoft opened #333 "[BUG] - CPU usage 100% in WaitMode"
With this test code:

[code]
I get 100% CPU utilization (at least one core) which is equivalent to an infinite loop:

[code]

**Version**
v1.13.0

**Expected behavior**
While waiting for a free executor, the processor should not be loaded at 100%

[2022-05-27 01:28] JohnRoesler commented on #325
Hi @xccatana ,

The code you posted doesn't appear to work. In order to call Cron you would need to call like this with the function parameter after the func name inside of `Do`:

[code]

Please use the latest version of the library and try again.

[2022-05-27 01:28] #325 closed

[2022-05-27 14:59] eisler-tc opened #334 "[BUG] - .At(HH:mm) Method is not working as expected"
### Describe the bug

.At("HH:MM") function is not working expected. It is not running the job at time it has to.

### To Reproduce

Steps to reproduce the behavior:
       //I am setting the time to 18:00 just before 2 mins ago and wit for test
       /* code*/
       scheduler := gocron.NewScheduler(time.UTC)
	scheduler.Every(1).Day().At("18:00").Do(func() {
		fmt.Println("Scheduled job for 18:0

[2022-05-27 19:56] AlexanderSutul commented on #334
@eisler-tc Hey! Could you check your machine time. I just tested your code in the same way and it works fine. Also, It's UTC time. What is your zone?

[2022-05-27 20:06] AlexanderSutul commented on #333
@JohnRoesler Is that a good approach to add a delay in 1 * nanosecond? It's just a fastest solution I can suggest for now 😊

[2022-05-28 07:46] eisler-tc commented on #334
Ooo i really missed that timezone issue , yes it works with correct time zone.
It was my bad sorry, thank you for your time.

[2022-05-28 07:46] #334 closed

[2022-05-28 08:15] AlexanderSutul commented on #334
@eisler-tc No problem! Have a good weekend 😊

[2022-05-28 16:08] AlexanderSutul commented on #315
This issue can be closed, I guess.

[2022-05-28 22:33] AlexanderSutul commented on #305
Hey, @JohnRoesler ! I noticed that this issue is not solved yet. Maybe, you could assign to to me? I'd finish this during the next week. If it's still required to be added.

[2022-05-28 22:40] AlexanderSutul commented on #333
@aibotsoft  Hey! Are you sure it's a problem? I just checked that 100% here doesn't effect  any I/O operations. So, yeah it's 100% but it's like fake 100% of usage. So, it's just flooded OS scheduler.
Correct me, if I'm wrong, please. (links for articles about that are appreciated)

[2022-05-29 13:57] AlexanderSutul commented on #333
Thanks for your thoughts. Let's see what I can do. I'll try to fix it till the end of next week.

[2022-05-31 01:56] #315 closed

[2022-06-02 07:04] fenisteel commented on #332
It would be a great feature to have a global PanicHandler func at package level.

I think it should be a type of `func(jobName string, recoverData interface{})` and in the executor's loop defer it if it's not nil.

Suggested changes:

**gocron.go:**
[code]

**executor.go:**

[code]

**Use case:**

[code]

[2022-06-02 14:26] JohnRoesler commented on #332
looks reasonable. @fenisteel would you like to make a PR for this?

[2022-06-06 04:10] commcapamerica opened #336 "[BUG] - CRON set to run daily doesn't run."
### Describe the bug

I have a scheduler"
`scheduler           = gocron.NewScheduler(time.UTC)`

 go scheduler.Cron("5 0 * * *").Do(func(){ log.Println("test") })

I'll do it at say 00:03, the cron function doesnt run at 00:05.

Any reasoning to this?

### To Reproduce

Steps to reproduce the behavior:

1. Create global instance of gocron in utc
1. go routine or not schedule a cron to run everyday

[2022-06-06 16:11] JohnRoesler commented on #336
@commcapamerica can you post a more full example of what isn't working for you? I just tried it and worked for me:

[code]

ouptut:

[code]

[2022-06-09 02:04] renathoaz opened #340 "[BUG] - panic: runtime error: integer divide by zero"
### Describe the bug

Scheduling to a past time should not panic
Maybe the scheduler could only ignore as the time is already passed

### To Reproduce

Steps to reproduce the behavior:

[code]

### Version

github.com/go-co-op/gocron v1.13.0

### Expected behavior

to not panic, it should just not set the schedule

### Additional context
[code]

[2022-06-10 08:51] fenisteel commented on #332
What do you think, when could a new version released which includes this PR?

[2022-06-14 09:14] #332 closed

[2022-06-14 09:17] pkuashi commented on #332
@JohnRoesler The latest release was at Feb this year. Any planned release recently.

[2022-06-14 11:08] JohnRoesler commented on #333
@aibotsoft this is interesting! The reason it is done the way currently is to allow checking the state of both the scheduler and individual job context states. The Acquire method allows waiting for a single context to be done, but I notice even in that case, it can still run the job even after the context done occurs:

			// fix up the queue, just pretend we didn't notice the cancelation.

Now may

[2022-06-14 11:12] JohnRoesler commented on #318
Did this resolve? We had a similar issue a while ago that was related to the underlying docker container the app was being run in. I'm inclined to suspect something with the host system's time / tz files being the cause of this issue.

[2022-06-14 11:13] #305 closed

[2022-06-14 11:26] JohnRoesler commented on #332
Released!

[2022-06-14 20:50] fenisteel commented on #332
Great job! Thanks!

[2022-06-15 23:09] mhxw opened #341 "[BUG] - Program level exit"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:

`_, err := Cs.Every("1s").SingletonMode().Do(func() {`

### Version

1.13.0

[2022-06-15 23:21] JohnRoesler commented on #341
Please explain

[2022-06-15 23:31] mhxw commented on #341
I guess it's a bit similar to this https://github.com/go-co-op/gocron/issues/333. If my program executes logic inside more than 1s, he will wait for the inside program to finish before executing the next one.

[2022-06-15 23:32] mhxw commented on #341
The program will execute for some time before it throws an exception and exits

[2022-06-20 11:37] cyberbandya007 opened #342 "Setting time.Duration while scheduling job using Every fails"
### Describe the bug

If we use time.Duration value while scheduling job, it doesn't work.

### To Reproduce

Steps to reproduce the behavior:

1. Set time.Duration while scheduling the job
2. Start jobs asynchronously
3. Check if job executes.

### Version

1.14.1

### Expected behavior

We should be able to schedule jobs using time.Duration since it is provided as option in the documentation

##

[2022-06-20 14:19] JohnRoesler commented on #342
@cyberbandya007 could you please share the code you are running which is failing?

These both work for me:

[code]

It's not a problem that `job.interval` is being set to zero because when the unit is duration, the calculation doesn't consider interval, it considers the duration value.

[2022-06-22 06:46] superliuchao opened #345 "[FEATURE] - Executed on the 30th of every month and supports at"
### Is your feature request related to a problem? Please describe

Executed on the 30th of every month and supports at

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-06-22 20:22] J7mbo opened #346 "Stop doesn't work"
Hi! It seems that `Stop()` doesn't actually stop the scheduler when called from a goroutine. Minimally reproducible example:

[code]

The code never gets to printing `"FINISHED"`. The output is as follows, and then runs forever:

[code]

Am I using this incorrectly? Is there something I'm missing?

[2022-06-23 02:01] superliuchao commented on #345
gocron.Scheduler.Month(30).At(time.Time{}) ?
yes, thanks!
Can this feature be supported?

[2022-06-23 15:26] JohnRoesler commented on #345
I just ran this successfully with:

[code]

[2022-06-24 06:48] avimess23 commented on #181
Hi guys,
@marcsantiago @JohnRoesler
I wanted to know what were your final thoughts on the subject?

I have a similar situation where I am using gocron to send out a status email once a week.
The program is being executed on sevral servers for efficiancy.
I am looking into implementing the suggested "Distributed Locks with Redis" and would like to hear if this was succsessful for you. maybe ever ge

[2022-06-29 20:18] JohnRoesler commented on #346
Released 🚢

[2022-07-01 19:06] harjotgill opened #350 "[BUG] - Data race when using RunByTag"
### Describe the bug

[code]

[2022-07-16 11:04] foxwhite25 opened #352 "[BUG] - Weeks does not maintain hour offsets"
### Describe the bug

When you use `StartAt` to set offset for a task, if you schedule it using `Every(1).Week()` it will not keep the hour offsets. But if you use `Every(168).Hour()` which is one week, it will keep the offset.

### To Reproduce

Example code:
[code]

Output:

[code]

### Version

fa855edd74858fce4a37ef191b7a6ed3666a7e5e

### Expected behaviour

Both should keep their offset

###

[2022-07-17 03:20] harjotgill commented on #350
cc: @JohnRoesler . Any insights into this? We can have someone in our team look into this if folks here don't have cycles for a quick fix. Thanks!

[2022-07-18 02:46] JohnRoesler commented on #350
@harjotgill that would be great if someone has time. From a quick scan it looks like it may be that we need to lock the job mutex for updating the job lastRun time.

[2022-07-18 10:49] robertofratello opened #353 "[FEATURE] - allow users to provide a custom timeWrapper for the scheduler"
### Is your feature request related to a problem? Please describe

I need to test an app using gocron, and I'd like to run it using a simulated/accelerated time provider replacing the system time

### Describe the solution you'd like

I've seen that there is a timeWrapper interface already implemented in the code, but it's private. Making it public, and creating an alternate constructor NewSchedul

[2022-07-19 16:12] grebneerg opened #355 "[BUG] - Starting and then stopping a scheduler twice causes a deadlock"
### Describe the bug

When I start a scheduler, stop it, restart it, and then stop it again, it either crashes or blocks indefinitely, depending on whether I have added any jobs to it.

### To Reproduce

#### Without jobs
With the following code:
[code]
The produced output is:
[code]

#### With a job
With the following code:
[code]
The produced output is:
[code]
Even after ten more minutes, `test`

[2022-07-21 18:09] seunghyupoh3517 commented on #350
@JohnRoesler Could you please reopen the issue? My fix does not fully cover the issue - attached below:
[code]

[2022-07-24 16:16] seunghyupoh3517 opened #358 "[BUG] - SetMaxConcurrentJobs with WaitMode fails"
### Describe the bug
There is non-deterministic bug in `SetMaxConcurrentJobs_WaitMode`. I have checked previous releases v1.15.0, v1.14.0 and seems it has been there for a while. The result is keep changing including it get stuck in the wait_mode.

=== RUN   TestScheduler_SetMaxConcurrentJobs/wait_mode
    scheduler_test.go:1475:
                Error Trace:    /home/seunghyupoh3517/Desktop/gocron

[2022-07-24 21:34] #358 closed

[2022-07-25 14:31] #350 closed

[2022-08-03 17:57] pma9 opened #367 "[BUG] - Restarting a stopped scheduler will run a job multiple times"
### Describe the bug

If you start a scheduler with a job that says run every second, everything will work fine. If you stop the scheduler and then start the scheduler again without removing or adding jobs, the existing job will run twice. If you stop and restart the scheduler again, it will run the job three times every second and so on and so forth.

### To Reproduce

[code]

Output:
[code]

###

[2022-08-04 12:08] #367 closed

[2022-08-04 12:59] JohnRoesler commented on #355
I should have a fix up for this soon!

[2022-08-04 13:00] #355 closed

[2022-08-04 16:32] #342 closed

[2022-08-04 16:41] JohnRoesler commented on #341
I'm not able to reproduce this issue. Can you provide a full example that hits this issue? Re-open if you'd like assistance.

[2022-08-04 16:41] #341 closed

[2022-08-04 16:41] JohnRoesler commented on #341
I'm not able to reproduce this issue. Can you provide a full example that hits this issue? Re-open if you'd like assistance.

[2022-08-04 16:42] JohnRoesler commented on #318
reopen if this is still an issue

[2022-08-04 16:42] #318 closed

[2022-08-04 16:47] #345 closed

[2022-08-08 02:37] BaSO4 opened #371 "[BUG] - github.com/jasonlvhit/gocron/example/go.mod:8:2: require github.com/go-redis/redis: version "v8.11.2" invalid: should be v0 or v1, not v8"
### Describe the bug

github.com/jasonlvhit/gocron/example/go.mod:8:2: require github.com/go-redis/redis: version "v8.11.2" invalid: should be v0 or v1, not v8

### Version

master branch

### Expected behavior
go mod right

[2022-08-08 03:37] wahello opened #372 "Run function limit with times."
### Specify how many times the function should, such as once or twice.

[2022-08-08 03:41] wahello opened #373 "Run funciton after some time."
### Specify the function lunch after some time, such as 5 seconds, or 5 minutes.
eg:
[code]

[2022-08-08 11:45] JohnRoesler commented on #371
That isn't this library. We forked from jasonlvhit a while back but I don't see any references in the code to it.

[2022-08-08 11:46] JohnRoesler commented on #372
https://pkg.go.dev/github.com/go-co-op/gocron#Scheduler.LimitRunsTo

[2022-08-08 11:47] JohnRoesler commented on #373
hi @wahello i'd suggest reading through the go docs. This is already supported https://pkg.go.dev/github.com/go-co-op/gocron#Scheduler.StartAt

[2022-08-08 11:47] #373 closed

[2022-08-09 09:06] BaSO4 commented on #371
sorry, should be opened to /jasonlvhit/gocron

[2022-08-09 09:06] #371 closed

[2022-08-09 12:59] JohnRoesler commented on #371
@BaSO4 FYI - that repo is no longer maintained. We moved it here.

[2022-08-15 12:34] seunghyupoh3517 opened #374 "[BUG] - Data Race in `RunCount`"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:
When `*Scheduler.run()`, scheduler is executing the job and in another go routine, tries to access the `JobInfo` using `Job.RunCount()`, `Job.NextRun()`, `Job.LastRun()`, `Job.RunCount()` is not being protected by mutex and leads to data race.

### Version

`github.com/go-co-op/gocron@v1.16.1`

### Expected behavior

[2022-08-18 17:54] seunghyupoh3517 commented on #374
@JohnRoesler I have added quick fix for this data race, please take a look!

[2022-08-22 09:02] Jonas096 opened #376 "[BUG] - "call of reflect.Value.Type on zero Value" error when using in SingletonMode"
### Describe the bug

When using the SingletonMode the module panics with the error "call of reflect.Value.Type on zero Value". The weird thing is, this error applys only 3 of 4 times. Sometimes the applications starts well.

### To Reproduce

My Setup is like this

`func InitScheduler() {
	gocron.SetPanicHandler(func(jobName string, recoverData interface{}) {
		logs.Logger.Panicln("jobName", jobN

[2022-08-22 14:47] #374 closed

[2022-08-24 13:36] Maksim-YmnIchkA opened #383 "[BUG] - incorrectly calculating nextRun for daily interval"
### Describe the bug

Job that scheduled periodically with "day" interval incorrectly calculates nextRun time.

### To Reproduce

1) time.UTC locale setup
scheduler := gocron.NewScheduler(time.UTC)

2) schedule job every 1 day
scheduler.Every(1).Day().StartAt(startTime).Do(test)

If now call job.NextRun() you will get 0001-01-01 00:00:00 +0000 UTC
there are 2 options for the job behaviour:
1) If y

[2022-08-24 14:35] JohnRoesler commented on #383
Hi @Maksim-YmnIchkA

can you show a full example where you call job.NextRun? If you are calling it before starting the scheduler then it will be a zero time as the scheduler doesn't calculate the next run for each job until the scheduler is started.

[2022-08-26 03:05] Shawn-Huang-Tron opened #384 "[FEATURE] - supports job retry when job failed"
### Is your feature request related to a problem? Please describe

I am not sure if gocron has the feature of the retry when the job failed. I can't find this feature.
### Describe the solution you'd like
Hope that there is a feature that when my job return an error, i can catch this error in gocron, and decide if i should retry this job by something like gocron.DoOnce(job).

### Describe alternat

[2022-08-26 15:00] JohnRoesler commented on #384
Hi @Shawn-Huang-Tron,

There is not currently any sort of retry logic supported in gocron. In general, I assume users today are handling any sort retry logic inside the job itself rather than returning an error.

I could see a feature like this working in a couple ways:

- A simple option to retry the job x times when any error is returned from the job
- A next iteration could include allowing whi

[2022-08-26 15:06] Maksim-YmnIchkA commented on #383
I'm sorry, it seems that I miss it in documentation, i was sure i can use this method anytime I need it, that's my fault, close the issue please.

[2022-08-26 15:28] JohnRoesler commented on #383
No worries!

[2022-08-26 15:28] #383 closed

[2022-08-29 10:12] allanche opened #385 "[BUG] - CPU usage 100% and next schedule is blocking after the system time is changed"
### Describe the bug

use this code run cron scheduler，CPU usage 100% and next schedule is blocking after the system time is changed.
[code]
### To Reproduce

1. current system time:
[code]
2. change system time forward 1 hour:
[code]
3. next schedule has bug.
### Version
v1.13.0

### Additional context
use pprof make analysis，test code is:
[code]
1. change system time forward 1 hour，wait for the

[2022-08-29 12:50] Shawn-Huang-Tron commented on #384
"A simple option to retry the job x times when any error is returned from the job" sounds like good. But maybe the behavior of retry can be handled by the developer will be better. Gocron just like a scheduler, developer put and subscribe jobs in gocron, and if job failed, then the developer will get an error about this job.And at that time,developer can choose that if he want to run this job agai

[2022-09-05 02:09] #340 closed

[2022-09-06 16:22] TawsifKarim commented on #322
I started to use this package and experiencing issues with a lot of methods.. But one cool thing is, there is a method named `Cron()` like below

[code]

use this https://crontab.guru/ website and set your desired timings and copy paste the desired expression inside this method. I hope you would be good to go...

[2022-09-07 14:10] #319 closed

[2022-09-07 14:11] JohnRoesler commented on #319
@zerosoul13 could you test out the master branch when you have a chance and see if it's solved for you? I ran some jobs for several hours and had no drift.

[2022-10-15 00:03] zerosoul13 commented on #319
@JohnRoesler Hello, I'll be glad to test the master branch and provide feedback. Thank you for looking into this :D

[2022-10-17 15:10] #333 closed

[2022-10-20 16:19] JohnRoesler commented on #376
@jerebtw @Jonas096 sorry for the late reply!

Scheduler.SingletonMode() is meant to be called in a chain defining a job. For example:

[code]

The global scheduler option is:

[code]

This isn't handled well currently as you've encountered. I'll push up a fix to catch this situation.

[2022-10-20 16:19] #376 closed

[2022-10-20 16:51] JohnRoesler commented on #385
I did some poking around at this problem. And your solution doesn't seem to work, i'm not exactly sure why. But i think part of the issue with handling system time changing is that we'd need to detect the system time change and then adjust all the jobs last run times by that change amount to properly handle calculations that rely on the last time the job ran.

[2022-10-25 07:34] allanche commented on #385
Your solution idea is right, but I am not sure what impact it will have on the whole project. because the cpu usage will affect other services of the system. Therefore, my solution only ensures that the next scheduling can be executed correctly and the cpu usage remains normal.

[2022-10-25 14:51] JohnRoesler commented on #385
I tested it out though and changed my system clock and the jobs did not continue to run, so something about the logic proposed doesn't work quite right.

It's an interesting problem and possibly the simplest answer would be to include some logic in a system running gocron to restart when a system time change occurs. Otherwise, there isn't currently any mechanism to handle adjusting the jobs to run

[2022-10-26 02:34] allanche commented on #385
Yeah, this is the simplest way to handle it. maybe we can test the scheduling of linux crontab when the clock is changed? Maybe crontab has the right solution.

[2022-10-26 13:40] hiroebe opened #391 "[BUG] - Stop func might not wait for job to finish"
### Describe the bug

(*Scheduler).Stop func should wait for all jobs to finish due to its [doc](https://pkg.go.dev/github.com/go-co-op/gocron#Scheduler.Stop), but it possibly returns before all jobs finished.

### To Reproduce

(This is a concurrent issue and a bit hard to reproduce)

1. Add `time.Sleep(time.Second)` after the lines below (to raise the concurrent issue on purpose)
https://github.

[2022-10-27 03:27] #391 closed

[2022-11-02 19:19] xwjdsh commented on #322
I dug into this issue, below is my code snippet and I also add some logs to the gocron package.
[code]

The log is below, and you can see, the task executed at 18:54 and 18:55, and then skipped 18:56, goes to the next day.
[code]
The reason is that the code added in the `calculateDays` implementation is in https://github.com/go-co-op/gocron/pull/159, but I read the comments from https://github.com

[2022-11-07 10:14] dnitsch commented on #181
I wonder if the approach here could maybe be similar to [APScheduler](https://apscheduler.readthedocs.io/en/3.x/index.html) begin with OOTB persistent stores supported like Redis/Postgres - once an interface can be reasonably standardized on, allow people to pass in their own implementations that satisfy it and the core would have to handle queues/locks, moving onto next available etc...

I realiz

[2022-11-08 02:44] #322 closed

[2022-11-09 06:33] shrinidhi111 opened #396 "If the system is in sleep during the time it was scheduled to run, how to trigger it once the PC comes back online?"
Let's say I have a one-time scheduler that is created using `gocron.NewScheduler().At()` that is set to run at 1 PM (say)

Now suppose the computer goes to sleep at 12 PM and is back online at 2 PM.

Does the job actually execute once the system is back online? Or does it ignore it since time has passed?

If it doesn't execute, how do I ensure that it will run once the user wakes up from sleep??

[2022-11-09 15:37] JohnRoesler commented on #396
This isn't supported by gocron today.

I can imagine you'd need a way to write the result of each job to a persistent store, and then as part of the scheduler check for jobs in the store and make sure that they have run at the required time and if not run them immediately.

[2022-11-10 10:27] shrinidhi111 commented on #396
Thanks!

If anyone else is interested, this library works with this use case (as per my testing with sleep)

https://github.com/procyon-projects/chrono

PS : Of course if you're PC is shutdown/restarted, then persistent storage will be required as @JohnRoesler suggested

[2022-11-12 07:34] jamesread opened #397 "[FEATURE] - Fedora package"
Fedora (http://fedoraproject.org) requires that all go applications have the go dependencies also packaged too - especially as packages are built securely, without internet access. I'm the author of https://github.com/OliveTin/OliveTin which has a dependency on gocron, hence it needs a Fedora package :-)

I have taken the liberty of building a spec file that I believe would be accepted by the Fedo

[2022-11-13 19:04] JohnRoesler commented on #397
Yes that is acceptable. Thanks for making the project usable on that platform.

[2022-11-13 19:04] #397 closed

[2022-11-13 19:37] shtirlic commented on #385
Here is the info for original cron https://stackoverflow.com/questions/13195999/daylight-savings-and-cron

[2022-11-14 18:56] y0rker opened #399 "[BUG] - Incorrect nextRun with Weekday(), StartAt() and At()"
### Describe the bug

Incorrect nextRun() when i set StartAt

### To Reproduce
Current time for example: 2022-11-18 20:19:00 +0000 UTC

**First example:**

When i set StartAt future date, i got wrong nextRun (date from _time variable)
[code]

Output:
2022-11-21 16:29:55 +0000 UTC

**Second example:**

When i set StartAt past date, i got wrong nextRun (date from current time)
[code]

Output:
2022-1

[2022-11-18 02:28] zfb7901 opened #400 "[BUG] - My go code uses this gocron. I run ok on centos7, but it always fails on the docker. I don't know what happened"
### Describe the bug
My go code uses this gocron. I run ok on centos7, but it always fails on the docker. I don't know what happened

### To Reproduce

Steps to reproduce the behavior:

1. A
1. B
1. C

### Version

### Expected behavior

### Additional context

[2022-11-18 03:14] JohnRoesler commented on #400
@zfb7901 you didn’t provide enough details for me to suggest any assistance. what does your dockerfile look like?

[2022-11-24 11:33] uginroot opened #401 "[FEATURE] - Please add limit mode "WaitModeSingle""
### Is your feature request related to a problem? Please describe

My function updates links to images that are about to expire for each client.

And it is necessary that its re-call occurs immediately after the previous one, if the previous call "blocked" the schedule.

But there are situations when the previous call can "overlap" not one call in the schedule, but 2, 3 or 4.

### Describe the sol

[2022-11-29 13:30] ftamhar commented on #367
this problem reappeared starting in version 1.17.1